Repository dotnet/wpf: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  range: 20..80                   # 20 is red, 80 is green
  round: down                     # always round down
  precision: 5                    # highest level of decimal precision
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "eng/::/"

comment:
  layout: "diff, flags"           # coverage difference, flags below

flags:                            # which files to include in the reporting
  production:
    paths:
      - src/Microsoft.DotNet.Wpf/src
  test:
    paths:
      - src/Microsoft.DotNet.Wpf/tests/

Add dotnet-wpf-maintainers to CODEOWNERS
  .github/CODEOWNERS
Due: none

Potential fix for pull request finding
  .github/CODEOWNERS
Due: none

Add dotnet-wpf-maintainers to CODEOWNERS (#11668)
  .github/CODEOWNERS
Due: none

SweepGradientBrush schema and codegen
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/Media/Generated/SweepGradientBrush.cs
  src/Microsoft.DotNet.Wpf/src/WpfGfx/codegen/mcg/helpers/PaddedCommand.cs
  src/Microsoft.DotNet.Wpf/src/WpfGfx/codegen/mcg/xml/Resource.xml
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/resources/data_generated.h
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/resources/marshal_generated.cpp
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/uce/generated_process_message.inl
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/uce/generated_resource_factory.cpp
  src/Microsoft.DotNet.Wpf/src/WpfGfx/exts/cmdstruct.h
  src/Microsoft.DotNet.Wpf/src/WpfGfx/include/Generated/wgx_command_types.cs
  src/Microsoft.DotNet.Wpf/src/WpfGfx/include/Generated/wgx_command_types.h
  src/Microsoft.DotNet.Wpf/src/WpfGfx/include/Generated/wgx_commands.cs
  src/Microsoft.DotNet.Wpf/src/WpfGfx/include/Generated/wgx_commands.h
  src/Microsoft.DotNet.Wpf/src/WpfGfx/include/Generated/wgx_resource_types.cs
  src/Microsoft.DotNet.Wpf/src/WpfGfx/include/Generated/wgx_resource_types.h
Due: production

[internal/release/9.0] Update dependencies from dnceng/internal/dotnet-winforms
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Due: none

CMILBrushSweepGradient and CMilSweepGradientBrushDuce
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/api/api_basebrushes.h
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/api/api_brush.cpp
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/api/api_brush.h
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/resources/resources.h
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/resources/resources.vcxproj
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/resources/sweepgradient.cpp
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/resources/sweepgradient.h
Due: production

MilCodeGen struct inheritance fix
  src/Microsoft.DotNet.Wpf/src/WpfGfx/codegen/mcg/generators/CommandStructure.cs
  src/Microsoft.DotNet.Wpf/src/WpfGfx/codegen/mcg/helpers/StructHelper.cs
  src/Microsoft.DotNet.Wpf/src/WpfGfx/include/Generated/wgx_commands.h
  src/Microsoft.DotNet.Wpf/src/WpfGfx/include/Generated/wgx_misc.h
  src/Microsoft.DotNet.Wpf/src/WpfGfx/include/Generated/wgx_render_types_generated.h
Due: production

SweepGradienBrush sw rasterizer
  src/Microsoft.DotNet.Wpf/src/Common/Graphics/Generated/wgx_commands.cs
  src/Microsoft.DotNet.Wpf/src/Common/Graphics/wgx_core_types.cs
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/sw/brushspan.h
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/sw/swlib/brushspan.cpp
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/sw/swlib/swrast.cpp
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/sw/swrast.h
  src/Microsoft.DotNet.Wpf/src/WpfGfx/include/processed/wgx_core_types.cs
  src/Microsoft.DotNet.Wpf/src/WpfGfx/include/processed/wgx_core_types.h
Due: production

SweepGradientBrush hw shader
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/hw/HwBrushPool.cpp
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/hw/HwBrushPool.h
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/hw/HwHLSLShaderFragments.cpp
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/hw/HwHLSLShaderFragments.h
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/hw/HwPipelineBuilder.h
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/hw/HwShaderBuilder.cpp
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/hw/HwShaderBuilder.h
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/hw/HwSweepGradientBrush.cpp
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/hw/HwSweepGradientBrush.h
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/hw/HwSweepGradientColorSource.cpp
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/hw/HwSweepGradientColorSource.h
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/hw/hw.vcxproj
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/hw/hwpipelinebuilder.cpp
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/hw/hwsurfrtdata.cpp
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/hw/precomp.hpp
Due: production

Move ijwhost.dll packaging logic to Packaging.targets
  eng/WpfArcadeSdk/tools/Packaging.targets
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/DirectWriteForwarder.vcxproj
  src/Microsoft.DotNet.Wpf/src/System.Printing/System.Printing.vcxproj
Due: production

TabItem: fix StackOverflowException in OnPreviewGotKeyboardFocus
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Controls/TabItem.cs
  src/Microsoft.DotNet.Wpf/tests/UnitTests/PresentationFramework.Tests/Controls/TabItemTests.cs
Due: production, test

Add DirectWrite color glyph (COLR v0) rendering support
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/DWriteWrapper/FontFace.cpp
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/DWriteWrapper/FontFace.h
  src/Microsoft.DotNet.Wpf/src/PresentationCore/Fonts/GlobalUserInterface.CompositeFont
  src/Microsoft.DotNet.Wpf/src/PresentationCore/MS/internal/Interop/DWrite/DWriteColorGlyphStructs.cs
  src/Microsoft.DotNet.Wpf/src/PresentationCore/MS/internal/Interop/DWrite/IDWriteColorGlyphRunEnumerator.cs
  src/Microsoft.DotNet.Wpf/src/PresentationCore/MS/internal/Text/TextInterface/ColorGlyphLayer.cs
  src/Microsoft.DotNet.Wpf/src/PresentationCore/MS/internal/Text/TextInterface/Factory.cs
  src/Microsoft.DotNet.Wpf/src/PresentationCore/PresentationCore.csproj
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/Media/DrawingDrawingContext.cs
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/Media/Generated/RenderDataDrawingContext.cs
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/Media/GlyphRun.cs
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/Media/GlyphTypeface.cs
  src/Microsoft.DotNet.Wpf/tests/UnitTests/PresentationCore.Tests/System/Windows/Media/ColorEmojiTests.cs
Due: production, test

Update branding to 8.0.29
  eng/Versions.props
Due: none

Update branding to 9.0.18
  eng/Versions.props
Due: none

[internal/release/8.0] Update dependencies from dnceng/internal/dotnet-winforms
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update branding to 8.0.29 (#11685)
  eng/Versions.props
Due: none

Update branding to 9.0.18 (#11686)
  eng/Versions.props
Due: none

Address PR review feedback for color emoji support
  src/Microsoft.DotNet.Wpf/src/PresentationCore/MS/internal/Interop/DWrite/IDWriteColorGlyphRunEnumerator.cs
  src/Microsoft.DotNet.Wpf/src/PresentationCore/MS/internal/Interop/DWrite/IDWriteFactory2.cs
  src/Microsoft.DotNet.Wpf/src/PresentationCore/MS/internal/Text/TextInterface/Factory.cs
  src/Microsoft.DotNet.Wpf/src/PresentationCore/PresentationCore.csproj
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/Media/GlyphRun.cs
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/Media/GlyphTypeface.cs
  src/Microsoft.DotNet.Wpf/tests/UnitTests/PresentationCore.Tests/System/Windows/Media/ColorEmojiTests.cs
Due: production, test

Updating XUnit StaFact package
  eng/Versions.props
Due: none

Updating CodeCoverage package version
  eng/Versions.props
Due: none

Fixing cleanup issue in the tests
  src/Microsoft.DotNet.Wpf/tests/UnitTests/WindowsBase.Tests/System/Windows/Interop/ComponentDispatcherTests.cs
Due: test

Localized file check-in by OneLocBuild Task: Build definition ID 217: Build ID 2994624 (#11646)
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfApplication-CSharp/.template.config/localize/templatestrings.cs.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfApplication-CSharp/.template.config/localize/templatestrings.de.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfApplication-CSharp/.template.config/localize/templatestrings.fr.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfApplication-CSharp/.template.config/localize/templatestrings.pt-BR.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfApplication-CSharp/.template.config/localize/templatestrings.zh-Hant.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfApplication-VisualBasic/.template.config/localize/templatestrings.cs.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfApplication-VisualBasic/.template.config/localize/templatestrings.de.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfApplication-VisualBasic/.template.config/localize/templatestrings.fr.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfApplication-VisualBasic/.template.config/localize/templatestrings.pt-BR.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfApplication-VisualBasic/.template.config/localize/templatestrings.zh-Hant.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfClassLibrary-CSharp/.template.config/localize/templatestrings.cs.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfClassLibrary-CSharp/.template.config/localize/templatestrings.de.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfClassLibrary-CSharp/.template.config/localize/templatestrings.fr.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfClassLibrary-CSharp/.template.config/localize/templatestrings.pt-BR.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfClassLibrary-CSharp/.template.config/localize/templatestrings.zh-Hant.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfClassLibrary-VisualBasic/.template.config/localize/templatestrings.cs.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfClassLibrary-VisualBasic/.template.config/localize/templatestrings.de.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfClassLibrary-VisualBasic/.template.config/localize/templatestrings.fr.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfClassLibrary-VisualBasic/.template.config/localize/templatestrings.pt-BR.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfClassLibrary-VisualBasic/.template.config/localize/templatestrings.zh-Hant.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfCustomControlLibrary-CSharp/.template.config/localize/templatestrings.cs.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfCustomControlLibrary-CSharp/.template.config/localize/templatestrings.de.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfCustomControlLibrary-CSharp/.template.config/localize/templatestrings.fr.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfCustomControlLibrary-CSharp/.template.config/localize/templatestrings.pt-BR.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfCustomControlLibrary-CSharp/.template.config/localize/templatestrings.zh-Hant.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfCustomControlLibrary-VisualBasic/.template.config/localize/templatestrings.cs.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfCustomControlLibrary-VisualBasic/.template.config/localize/templatestrings.de.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfCustomControlLibrary-VisualBasic/.template.config/localize/templatestrings.fr.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfCustomControlLibrary-VisualBasic/.template.config/localize/templatestrings.pt-BR.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfCustomControlLibrary-VisualBasic/.template.config/localize/templatestrings.zh-Hant.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfUserControlLibrary-CSharp/.template.config/localize/templatestrings.cs.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfUserControlLibrary-CSharp/.template.config/localize/templatestrings.de.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfUserControlLibrary-CSharp/.template.config/localize/templatestrings.fr.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfUserControlLibrary-CSharp/.template.config/localize/templatestrings.pt-BR.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfUserControlLibrary-CSharp/.template.config/localize/templatestrings.zh-Hant.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfUserControlLibrary-VisualBasic/.template.config/localize/templatestrings.cs.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfUserControlLibrary-VisualBasic/.template.config/localize/templatestrings.de.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfUserControlLibrary-VisualBasic/.template.config/localize/templatestrings.fr.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfUserControlLibrary-VisualBasic/.template.config/localize/templatestrings.pt-BR.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfUserControlLibrary-VisualBasic/.template.config/localize/templatestrings.zh-Hant.json
Due: none

Updated NuGet.config - fixed formatting, removed merge conflict artifact
  NuGet.config
Due: none

Package ijwhost.dll as native asset for self-contained publish (#11664)
  eng/WpfArcadeSdk/tools/Packaging.targets
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/DirectWriteForwarder.vcxproj
  src/Microsoft.DotNet.Wpf/src/System.Printing/System.Printing.vcxproj
Due: production

chore(*): Break the reference chain so old containers can be garbage collected.
  src/Microsoft.DotNet.Wpf/src/PresentationCore/MS/internal/Automation/ElementProxy.cs
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/Automation/Peers/AutomationPeer.cs
Due: production

Fix Slider snap-to-tick floating-point precision (#8819)
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Controls/Slider.cs
Due: production

Merged PR 61884: [release/9.0] WPF MSRC XAML Restrictive Checks
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/MS/Internal/Ink/ClipboardProcessor.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Documents/TextTreeDeleteContentUndoUnit.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Markup/XamlReader.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Navigation/NavigationService.cs
Due: production

Merged PR 61887: [release/8.0] WPF MSRC PixelShader Bound Checks
  src/Microsoft.DotNet.Wpf/src/System.Printing/CPP/inc/GDIExporter/precomp.hpp
  src/Microsoft.DotNet.Wpf/src/System.Printing/CPP/inc/PrintingSwitches.h
  src/Microsoft.DotNet.Wpf/src/System.Printing/CPP/src/GDIExporter/gdirt.cpp
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/common/guidelinecollection.cpp
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/fxjit/PixelShader/precomp.h
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/fxjit/PixelShader/pstrans.cpp
Due: production

Merged PR 61885: [release/8.0] WPF MSRC XAML Restrictive Checks
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/MS/Internal/Ink/ClipboardProcessor.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Documents/TextTreeDeleteContentUndoUnit.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Markup/XamlReader.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Navigation/NavigationService.cs
Due: production

Merged PR 61888: [release/9.0] WPF MSRC PixelShader Bound Checks
  src/Microsoft.DotNet.Wpf/src/System.Printing/CPP/inc/GDIExporter/precomp.hpp
  src/Microsoft.DotNet.Wpf/src/System.Printing/CPP/inc/PrintingSwitches.h
  src/Microsoft.DotNet.Wpf/src/System.Printing/CPP/src/GDIExporter/gdirt.cpp
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/common/guidelinecollection.cpp
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/fxjit/PixelShader/precomp.h
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/fxjit/PixelShader/pstrans.cpp
Due: production

Add AppContext switch for automation peer disconnect behavior
  src/Microsoft.DotNet.Wpf/src/PresentationCore/MS/internal/Automation/ElementProxy.cs
  src/Microsoft.DotNet.Wpf/src/PresentationCore/MS/internal/CoreAppContextSwitches.cs
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/Automation/Peers/AutomationPeer.cs
  src/Microsoft.DotNet.Wpf/src/WindowsBase/System/Windows/AccessibilitySwitches.cs
Due: production

Add AppContext switch to guard automation peer disconnect behavior
  src/Microsoft.DotNet.Wpf/src/PresentationCore/MS/internal/CoreAppContextSwitches.cs
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/Automation/Peers/AutomationPeer.cs
  src/Microsoft.DotNet.Wpf/src/WindowsBase/System/Windows/AccessibilitySwitches.cs
Due: production

Potential fix for pull request finding
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/Automation/Peers/AutomationPeer.cs
Due: production

Clear IsThemeDictionary flag when ResourceDictionary gains an owner
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/ResourceDictionary.cs
Due: production

Add unit test for IsThemeDictionary flag clearing in ResourceDictionary.AddOwner
  src/Microsoft.DotNet.Wpf/tests/UnitTests/PresentationFramework.Tests/System/Windows/ResourceDictionaryTests.cs
Due: test

Remove Windows Lockdown Policy dead code
  src/Microsoft.DotNet.Wpf/src/Shared/MS/Win32/ExternDll.cs
Due: production
