Repository dotnet/wpf: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Update CodeCoverage.proj
  eng/CodeCoverage.proj
Due: none

Update LineServicesCallbacks.cs
  src/Microsoft.DotNet.Wpf/src/PresentationCore/MS/internal/TextFormatting/LineServicesCallbacks.cs
Due: production

Migrate to xunit.v3 (#10890)
  Directory.Build.props
  dotnet.config
  eng/CodeCoverage.config
  eng/CodeCoverage.proj
  eng/CodeCoverage.runsettings
  eng/Testing.targets
  eng/Versions.props
  src/Microsoft.DotNet.Wpf/tests/IntegrationTests/MultiTargeting.props
  src/Microsoft.DotNet.Wpf/tests/UnitTests/Directory.Build.props
  src/Microsoft.DotNet.Wpf/tests/UnitTests/PresentationCore.Tests/PresentationCore.Tests.csproj
  src/Microsoft.DotNet.Wpf/tests/UnitTests/PresentationFramework.Fluent.Tests/PresentationFramework.Fluent.Tests.csproj
  src/Microsoft.DotNet.Wpf/tests/UnitTests/PresentationFramework.Tests/PresentationFramework.Tests.csproj
  src/Microsoft.DotNet.Wpf/tests/UnitTests/System.Printing.Tests/System.Printing.Tests.csproj
  src/Microsoft.DotNet.Wpf/tests/UnitTests/System.Xaml.Tests/System.Xaml.Tests.csproj
  src/Microsoft.DotNet.Wpf/tests/UnitTests/WindowsBase.Tests/System/Windows/Interop/ComponentDispatcherTests.cs
  src/Microsoft.DotNet.Wpf/tests/UnitTests/WindowsBase.Tests/System/Windows/SplashScreenTests.cs
  src/Microsoft.DotNet.Wpf/tests/UnitTests/WindowsBase.Tests/WindowsBase.Tests.csproj
Due: test

Editor whitespace allignments
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/InterOp/HwndMouseInputProvider.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/MS/Internal/IO/Packaging/XpsFilter.cs
Due: production

Fix Validation merge policy flags
  eng/Versions.props
Due: none

Second iteration on fixing validation merge policy violation
  eng/Versions.props
Due: none

Update branding to 8.0.20
  eng/Versions.props
Due: none

Update branding to 9.0.9
  eng/Versions.props
Due: none

Pinning the back version of MicrosoftSourceLinkGithubPackageVersion
  eng/Version.Details.props
Due: none

Correctly pin sourcelink dependencies
  eng/Version.Details.props
  eng/Version.Details.xml
Due: none

adjust ActiveRectangle height in ListViewItem.xaml
  src/Microsoft.DotNet.Wpf/src/Themes/PresentationFramework.Fluent/Styles/ListViewItem.xaml
  src/Microsoft.DotNet.Wpf/src/Themes/PresentationFramework.Fluent/Themes/Fluent.Dark.xaml
  src/Microsoft.DotNet.Wpf/src/Themes/PresentationFramework.Fluent/Themes/Fluent.HC.xaml
  src/Microsoft.DotNet.Wpf/src/Themes/PresentationFramework.Fluent/Themes/Fluent.Light.xaml
  src/Microsoft.DotNet.Wpf/src/Themes/PresentationFramework.Fluent/Themes/Fluent.xaml
Due: production

Adjust ActiveRectangle height in ListViewItem.xaml (#11030)
  src/Microsoft.DotNet.Wpf/src/Themes/PresentationFramework.Fluent/Styles/ListViewItem.xaml
  src/Microsoft.DotNet.Wpf/src/Themes/PresentationFramework.Fluent/Themes/Fluent.Dark.xaml
  src/Microsoft.DotNet.Wpf/src/Themes/PresentationFramework.Fluent/Themes/Fluent.HC.xaml
  src/Microsoft.DotNet.Wpf/src/Themes/PresentationFramework.Fluent/Themes/Fluent.Light.xaml
  src/Microsoft.DotNet.Wpf/src/Themes/PresentationFramework.Fluent/Themes/Fluent.xaml
Due: production

Reverting unintended height changes
  src/Microsoft.DotNet.Wpf/src/Themes/PresentationFramework.Fluent/Styles/ListViewItem.xaml
  src/Microsoft.DotNet.Wpf/src/Themes/PresentationFramework.Fluent/Themes/Fluent.Dark.xaml
  src/Microsoft.DotNet.Wpf/src/Themes/PresentationFramework.Fluent/Themes/Fluent.HC.xaml
  src/Microsoft.DotNet.Wpf/src/Themes/PresentationFramework.Fluent/Themes/Fluent.Light.xaml
  src/Microsoft.DotNet.Wpf/src/Themes/PresentationFramework.Fluent/Themes/Fluent.xaml
Due: production

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-winforms build 20250812.5
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-winforms build 20250812.4
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Add System.Private.Windows.Core.TestUtilities to Version.Details.xml
  eng/Version.Details.props
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Fix incorrect touch point coordinates when running application on secondary screen with WM_Pointer enabled
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/InterOp/HwndPointerInputProvider.cs
Due: production

Add System.Private.Windows.Core.TestUtilities to Version.Details.xml (#11049)
  eng/Version.Details.props
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-winforms build 20250815.4
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-winforms build 20250815.5
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-winforms build 20250819.1
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-winforms build 20250819.3
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-winforms build 20250819.4
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Fix #5428: DataGrid with template columns causes crash when scrolling
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Automation/Peers/ItemsControlAutomationPeer.cs
Due: production

Update branding to 8.0.21
  eng/Versions.props
Due: none

Update branding to 9.0.10
  eng/Versions.props
Due: none

Update branding to 9.0.10 (#11085)
  eng/Versions.props
Due: none

Update branding to 8.0.21 (#11084)
  eng/Versions.props
Due: none

Switch test runner to global.json
  dotnet.config
  global.json
Due: none

Fix StylusPlugIn OnStylusDown/Move/Up invoked on UI thread and called out of order
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/Input/Stylus/Wisp/PenContexts.cs
Due: production

Update Nuget.config to include .NET 11 paths
  NuGet.config
Due: none

Remove .NET 7/8/9 configs
  NuGet.config
Due: none

Revert the previous changes
  NuGet.config
Due: none

Update Nuget.config to include .NET 11 paths (#11119)
  NuGet.config
Due: none

Pass the HwndSource parameters directly
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/Input/Stylus/Wisp/WispLogic.cs
Due: production

Bump up lang version to 14
  eng/WpfArcadeSdk/Sdk/Sdk.props
Due: none

Bump up lang version to 14 (#11128)
  eng/WpfArcadeSdk/Sdk/Sdk.props
Due: none

Bump up lang version to 14 (#11127)
  eng/WpfArcadeSdk/Sdk/Sdk.props
Due: none

Avoid create the cmap Dictionary when get Count only
  src/Microsoft.DotNet.Wpf/src/PresentationCore/MS/internal/FontCache/FontFaceLayoutInfo.cs
Due: production

Path conditions:
  production: any of: src/Microsoft.DotNet.Wpf/src
  test: any of: src/Microsoft.DotNet.Wpf/tests/
