Repository dotnet/wpf: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  range: 20..80                   # 20 is red, 80 is green
  round: down                     # always round down
  precision: 5                    # highest level of decimal precision
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "eng/::/"

comment:
  layout: "diff, flags"           # coverage difference, flags below

flags:                            # which files to include in the reporting
  production:
    paths:
      - src/Microsoft.DotNet.Wpf/src
  test:
    paths:
      - src/Microsoft.DotNet.Wpf/tests/

Fix DwmIsCompositionEnabled crash on Mono/wine-mono
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Standard/NativeMethods.cs
Due: production

Remove duplicate @ prefix from issueAuthor in GitOps
  .github/policies/resourceManagement.yml
Due: none

Update branding on release/8.0
  eng/Versions.props
Due: none

Update branding on release/9.0
  eng/Versions.props
Due: none

[internal/release/8.0] Update dependencies from dnceng/internal/dotnet-winforms
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Due: none

[internal/release/9.0] Update dependencies from dnceng/internal/dotnet-winforms
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Remove /clr:pure from WPF C++/CLI projects
  eng/WpfArcadeSdk/tools/Wpf.Cpp.props
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/intsafe_private_copy.h
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/DirectWriteForwarder.vcxproj
  src/Microsoft.DotNet.Wpf/src/System.Printing/System.Printing.vcxproj
Due: production

Merged PR 59387: [release/9.0] Fix potential overflow issues in WPF native code
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/automap.cpp
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/intsafe_private_copy.h
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/makeglst.cpp
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/modcmap.cpp
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/modglyf.cpp
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/modsbit.cpp
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/modtable.cpp
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/ttf_safe_checks.h
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/ttfacc.cpp
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/ttfdelta.cpp
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/ttftabl1.cpp
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/ttftable.cpp
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/truetype.cpp
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/main.cpp
  src/Microsoft.DotNet.Wpf/src/PenImc/dll/PenImc.cpp
  src/Microsoft.DotNet.Wpf/src/PenImc/dll/PenImc.def
  src/Microsoft.DotNet.Wpf/src/PenImc/dll/PenImcSwitches.h
  src/Microsoft.DotNet.Wpf/src/PenImc/dll/PimcContext.cpp
  src/Microsoft.DotNet.Wpf/src/PenImc/dll/PimcTablet.cpp
  src/Microsoft.DotNet.Wpf/src/PresentationCore/MS/Win32/UnsafeNativeMethodsPenimc.cs
  src/Microsoft.DotNet.Wpf/src/PresentationCore/MS/internal/CoreAppContextSwitches.cs
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/Media/MediaSystem.cs
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/Media/UnsafeNativeMethodsMilCoreApi.cs
  src/Microsoft.DotNet.Wpf/src/WpfGfx/common/effects/effectlist.cpp
  src/Microsoft.DotNet.Wpf/src/WpfGfx/common/scanop/soconvert.cpp
  src/Microsoft.DotNet.Wpf/src/WpfGfx/common/shared/WpfGfxSwitches.cpp
  src/Microsoft.DotNet.Wpf/src/WpfGfx/common/shared/WpfGfxSwitches.h
  src/Microsoft.DotNet.Wpf/src/WpfGfx/common/shared/dynarray.h
  src/Microsoft.DotNet.Wpf/src/WpfGfx/common/shared/shared.h
  src/Microsoft.DotNet.Wpf/src/WpfGfx/common/shared/shared.vcxproj
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/common/engine.cpp
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/common/gradienttexture.cpp
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/dll/wpfgfx.def
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/hw/d3dglyphbank.cpp
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/hw/hwbitmapcolorsource.cpp
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/resources/glyphrunslave.cpp
Due: production

Merged PR 59386: [release/8.0] Fix potential overflow issues in WPF native code
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/automap.cpp
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/intsafe_private_copy.h
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/makeglst.cpp
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/modcmap.cpp
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/modglyf.cpp
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/modsbit.cpp
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/modtable.cpp
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/ttf_safe_checks.h
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/ttfacc.cpp
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/ttfdelta.cpp
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/ttftabl1.cpp
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/ttftable.cpp
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/truetype.cpp
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/main.cpp
  src/Microsoft.DotNet.Wpf/src/PenImc/dll/PenImc.cpp
  src/Microsoft.DotNet.Wpf/src/PenImc/dll/PenImc.def
  src/Microsoft.DotNet.Wpf/src/PenImc/dll/PenImcSwitches.h
  src/Microsoft.DotNet.Wpf/src/PenImc/dll/PimcContext.cpp
  src/Microsoft.DotNet.Wpf/src/PenImc/dll/PimcTablet.cpp
  src/Microsoft.DotNet.Wpf/src/PresentationCore/MS/Win32/UnsafeNativeMethodsPenimc.cs
  src/Microsoft.DotNet.Wpf/src/PresentationCore/MS/internal/CoreAppContextSwitches.cs
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/Media/MediaSystem.cs
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/Media/UnsafeNativeMethodsMilCoreApi.cs
  src/Microsoft.DotNet.Wpf/src/WpfGfx/common/effects/effectlist.cpp
  src/Microsoft.DotNet.Wpf/src/WpfGfx/common/scanop/soconvert.cpp
  src/Microsoft.DotNet.Wpf/src/WpfGfx/common/shared/WpfGfxSwitches.cpp
  src/Microsoft.DotNet.Wpf/src/WpfGfx/common/shared/WpfGfxSwitches.h
  src/Microsoft.DotNet.Wpf/src/WpfGfx/common/shared/dynarray.h
  src/Microsoft.DotNet.Wpf/src/WpfGfx/common/shared/shared.h
  src/Microsoft.DotNet.Wpf/src/WpfGfx/common/shared/shared.vcxproj
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/common/engine.cpp
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/common/gradienttexture.cpp
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/dll/wpfgfx.def
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/hw/d3dglyphbank.cpp
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/hw/hwbitmapcolorsource.cpp
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/resources/glyphrunslave.cpp
Due: production

Update branding on release/9.0 (#11570)
  eng/Versions.props
Due: none

Update branding on release/8.0 (#11569)
  eng/Versions.props
Due: none

Merged PR 60240: [internal/release/9.0] Update dependencies from dnceng/internal/dotnet-winforms
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Merged PR 60237: [internal/release/8.0] Update dependencies from dnceng/internal/dotnet-winforms
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Resolve CodeQL SM03781
  src/Microsoft.DotNet.Wpf/src/PresentationCore/MS/internal/WpfWebRequestHelper.cs
Due: production

Resolve CodeQL SM03781 (#11585)
  src/Microsoft.DotNet.Wpf/src/PresentationCore/MS/internal/WpfWebRequestHelper.cs
Due: production

Update Microsoft.Windows.CsWin32 to 0.3.269
  eng/Versions.props
Due: none

Remove empty PropertyGroup left from /clr:pure removal
  eng/WpfArcadeSdk/tools/Wpf.Cpp.props
Due: none

Remove duplicate @ prefix from issueAuthor in GitOps (#11568)
  .github/policies/resourceManagement.yml
Due: none

Disabling GenerateProgramFile to fix CS0017 with new Test SDK
  src/Microsoft.DotNet.Wpf/tests/UnitTests/PresentationFramework.Tests/PresentationFramework.Tests.csproj
Due: test

Merged PR 60564: [internal/release/8.0] Update dependencies from dnceng/internal/dotnet-winforms
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Merged PR 60569: [internal/release/9.0] Update dependencies from dnceng/internal/dotnet-winforms
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Due: none

DWM Crash Fix Backport
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/MS/Internal/FrameworkAppContextSwitches.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/AppContextDefaultValues.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Appearance/WindowBackdropManager.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Shell/WindowChromeWorker.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Standard/NativeMethods.cs
Due: production

Merged PR 60633: [internal/release/8.0] Update dependencies from dnceng/internal/dotnet-winforms
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Merged PR 60635: [internal/release/9.0] Update dependencies from dnceng/internal/dotnet-winforms
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update branding to 8.0.28
  eng/Versions.props
Due: none

Update branding to 9.0.17
  eng/Versions.props
Due: none

DWM Crash Fix Backport (#11621)
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/MS/Internal/FrameworkAppContextSwitches.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/AppContextDefaultValues.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Appearance/WindowBackdropManager.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Shell/WindowChromeWorker.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Standard/NativeMethods.cs
Due: production

Update branding to 9.0.17 (#11623)
  eng/Versions.props
Due: none

Update branding to 8.0.28 (#11622)
  eng/Versions.props
Due: none

Remove dead CLRSupport==pure reference from DllRenameClause
  eng/WpfArcadeSdk/tools/Wpf.Cpp.props
Due: none

Updating dependencies
  eng/Version.Details.props
  eng/Version.Details.xml
  global.json
Due: none

Remove /clr:pure from WPF C++/CLI projects (#11575)
  eng/Version.Details.props
  eng/Version.Details.xml
  eng/WpfArcadeSdk/tools/Wpf.Cpp.props
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/intsafe_private_copy.h
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/DirectWriteForwarder.vcxproj
  src/Microsoft.DotNet.Wpf/src/System.Printing/System.Printing.vcxproj
Due: production

Implement opt-in weak reference handling for ElementProxy in automation peers to mitigate memory leaks in virtualized ItemsControls
  src/Microsoft.DotNet.Wpf/src/PresentationCore/MS/internal/Automation/ElementProxy.cs
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/Automation/Peers/AutomationPeer.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/MS/Internal/FrameworkAppContextSwitches.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Automation/Peers/ItemAutomationPeer.cs
Due: production

Potential fix for pull request finding
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/MS/Internal/FrameworkAppContextSwitches.cs
Due: production

License file for sRGB.icm file
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/Media/Resources/ColorProfiles/LICENSE.TXT
Due: production
