Repository dotnet/wpf: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  range: 20..80                   # 20 is red, 80 is green
  round: down                     # always round down
  precision: 5                    # highest level of decimal precision
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "eng/::/"

comment:
  layout: "diff, flags"           # coverage difference, flags below

flags:                            # which files to include in the reporting
  production:
    paths:
      - src/Microsoft.DotNet.Wpf/src
  test:
    paths:
      - src/Microsoft.DotNet.Wpf/tests/

Adding DisableDWMCrashContainment switch
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/MS/Internal/FrameworkAppContextSwitches.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/AppContextDefaultValues.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Standard/NativeMethods.cs
Due: production

Make Matrix.s_identity readonly.
  src/Microsoft.DotNet.Wpf/src/WindowsBase/System/Windows/Media/Matrix.cs
Due: production

Rewrite matrix multiplication in a single switch statement.
  src/Microsoft.DotNet.Wpf/src/Shared/MS/Internal/MatrixUtil.cs
Due: production

Updating build pipelines and MSVC toolset
  azure-pipelines-pr.yml
  azure-pipelines.yml
  eng/WpfArcadeSdk/tools/Wpf.Cpp.props
  src/Microsoft.DotNet.Wpf/redist/VCRuntime/VCRuntime.vcxproj
Due: none

Updating TestAccessor
  src/Microsoft.DotNet.Wpf/tests/UnitTests/System.Printing.Tests/System/Printing/IndexedProperties/PrintStringPropertyTests.cs
  src/Microsoft.DotNet.Wpf/tests/UnitTests/WindowsBase.Tests/System/Windows/SplashScreenTests.cs
Due: test

Update pipeline and MSVC toolset
  eng/WpfArcadeSdk/tools/Wpf.Cpp.props
  eng/pipeline-pr.yml
  eng/pipeline.yml
  src/Microsoft.DotNet.Wpf/redist/VCRuntime/VCRuntime.vcxproj
Due: none

Changing Error Code
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Standard/ErrorCodes.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Standard/NativeMethods.cs
Due: production

Updating wpf-int packages versions
  eng/Version.Details.props
  eng/Version.Details.xml
Due: none

Update src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Controls/TextAdaptor.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Controls/TextAdaptor.cs
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 217: Build ID 2883258
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfUserControlLibrary-VisualBasic/.template.config/localize/templatestrings.ru.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfUserControlLibrary-VisualBasic/.template.config/localize/templatestrings.tr.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfUserControlLibrary-VisualBasic/.template.config/localize/templatestrings.zh-Hans.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfUserControlLibrary-VisualBasic/.template.config/localize/templatestrings.zh-Hant.json
Due: none

Add DirectWriteForwarder unit tests (372 tests)
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/OtherAssemblyAttrs.cpp
  src/Microsoft.DotNet.Wpf/src/PresentationCore/OtherAssemblyAttrs.cs
  src/Microsoft.DotNet.Wpf/tests/UnitTests/DirectWriteForwarder.Tests/DWriteMatrixTests.cs
  src/Microsoft.DotNet.Wpf/tests/UnitTests/DirectWriteForwarder.Tests/DirectWriteForwarder.Tests.csproj
  src/Microsoft.DotNet.Wpf/tests/UnitTests/DirectWriteForwarder.Tests/EdgeCaseTests.cs
  src/Microsoft.DotNet.Wpf/tests/UnitTests/DirectWriteForwarder.Tests/EnumTests.cs
  src/Microsoft.DotNet.Wpf/tests/UnitTests/DirectWriteForwarder.Tests/FactoryTests.cs
  src/Microsoft.DotNet.Wpf/tests/UnitTests/DirectWriteForwarder.Tests/FontCollectionTests.cs
  src/Microsoft.DotNet.Wpf/tests/UnitTests/DirectWriteForwarder.Tests/FontFileAndAnalyzerTests.cs
  src/Microsoft.DotNet.Wpf/tests/UnitTests/DirectWriteForwarder.Tests/FontMetricsTests.cs
  src/Microsoft.DotNet.Wpf/tests/UnitTests/DirectWriteForwarder.Tests/FontTests.cs
  src/Microsoft.DotNet.Wpf/tests/UnitTests/DirectWriteForwarder.Tests/GlobalUsings.cs
  src/Microsoft.DotNet.Wpf/tests/UnitTests/DirectWriteForwarder.Tests/GlyphMetricsTests.cs
  src/Microsoft.DotNet.Wpf/tests/UnitTests/DirectWriteForwarder.Tests/LocalizedStringsTests.cs
  src/Microsoft.DotNet.Wpf/tests/UnitTests/DirectWriteForwarder.Tests/TextAnalyzerIntegrationTests.cs
  src/Microsoft.DotNet.Wpf/tests/UnitTests/DirectWriteForwarder.Tests/TrueTypeSubsetterTests.cs
Due: production, test

Localized file check-in by OneLocBuild Task: Build definition ID 217: Build ID 2885088
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfApplication-CSharp/.template.config/localize/templatestrings.cs.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfApplication-CSharp/.template.config/localize/templatestrings.de.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfApplication-CSharp/.template.config/localize/templatestrings.es.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfApplication-CSharp/.template.config/localize/templatestrings.fr.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfApplication-CSharp/.template.config/localize/templatestrings.ko.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfApplication-CSharp/.template.config/localize/templatestrings.pt-BR.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfApplication-CSharp/.template.config/localize/templatestrings.ru.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfApplication-VisualBasic/.template.config/localize/templatestrings.cs.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfApplication-VisualBasic/.template.config/localize/templatestrings.de.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfApplication-VisualBasic/.template.config/localize/templatestrings.es.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfApplication-VisualBasic/.template.config/localize/templatestrings.fr.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfApplication-VisualBasic/.template.config/localize/templatestrings.ko.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfApplication-VisualBasic/.template.config/localize/templatestrings.pt-BR.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfApplication-VisualBasic/.template.config/localize/templatestrings.ru.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfClassLibrary-CSharp/.template.config/localize/templatestrings.cs.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfClassLibrary-CSharp/.template.config/localize/templatestrings.de.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfClassLibrary-CSharp/.template.config/localize/templatestrings.es.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfClassLibrary-CSharp/.template.config/localize/templatestrings.fr.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfClassLibrary-CSharp/.template.config/localize/templatestrings.ko.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfClassLibrary-CSharp/.template.config/localize/templatestrings.pt-BR.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfClassLibrary-CSharp/.template.config/localize/templatestrings.ru.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfClassLibrary-VisualBasic/.template.config/localize/templatestrings.cs.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfClassLibrary-VisualBasic/.template.config/localize/templatestrings.de.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfClassLibrary-VisualBasic/.template.config/localize/templatestrings.es.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfClassLibrary-VisualBasic/.template.config/localize/templatestrings.fr.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfClassLibrary-VisualBasic/.template.config/localize/templatestrings.ko.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfClassLibrary-VisualBasic/.template.config/localize/templatestrings.pt-BR.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfClassLibrary-VisualBasic/.template.config/localize/templatestrings.ru.json
Due: none

Localized file check-in by OneLocBuild Task: Build definition ID 217: Build ID 2885088
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfCustomControlLibrary-CSharp/.template.config/localize/templatestrings.cs.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfCustomControlLibrary-CSharp/.template.config/localize/templatestrings.de.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfCustomControlLibrary-CSharp/.template.config/localize/templatestrings.es.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfCustomControlLibrary-CSharp/.template.config/localize/templatestrings.fr.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfCustomControlLibrary-CSharp/.template.config/localize/templatestrings.ko.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfCustomControlLibrary-CSharp/.template.config/localize/templatestrings.pt-BR.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfCustomControlLibrary-CSharp/.template.config/localize/templatestrings.ru.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfCustomControlLibrary-VisualBasic/.template.config/localize/templatestrings.cs.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfCustomControlLibrary-VisualBasic/.template.config/localize/templatestrings.de.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfCustomControlLibrary-VisualBasic/.template.config/localize/templatestrings.es.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfCustomControlLibrary-VisualBasic/.template.config/localize/templatestrings.fr.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfCustomControlLibrary-VisualBasic/.template.config/localize/templatestrings.ko.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfCustomControlLibrary-VisualBasic/.template.config/localize/templatestrings.pt-BR.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfCustomControlLibrary-VisualBasic/.template.config/localize/templatestrings.ru.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfUserControlLibrary-CSharp/.template.config/localize/templatestrings.cs.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfUserControlLibrary-CSharp/.template.config/localize/templatestrings.de.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfUserControlLibrary-CSharp/.template.config/localize/templatestrings.es.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfUserControlLibrary-CSharp/.template.config/localize/templatestrings.fr.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfUserControlLibrary-CSharp/.template.config/localize/templatestrings.ko.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfUserControlLibrary-CSharp/.template.config/localize/templatestrings.pt-BR.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfUserControlLibrary-CSharp/.template.config/localize/templatestrings.ru.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfUserControlLibrary-VisualBasic/.template.config/localize/templatestrings.cs.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfUserControlLibrary-VisualBasic/.template.config/localize/templatestrings.de.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfUserControlLibrary-VisualBasic/.template.config/localize/templatestrings.es.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfUserControlLibrary-VisualBasic/.template.config/localize/templatestrings.fr.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfUserControlLibrary-VisualBasic/.template.config/localize/templatestrings.ko.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfUserControlLibrary-VisualBasic/.template.config/localize/templatestrings.pt-BR.json
Due: none

Localized file check-in by OneLocBuild Task: Build definition ID 217: Build ID 2885088
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfUserControlLibrary-VisualBasic/.template.config/localize/templatestrings.ru.json
Due: none

Add DirectWriteForwarder coverage tests with proper skip patterns
  src/Microsoft.DotNet.Wpf/tests/UnitTests/DirectWriteForwarder.Tests/AdditionalCoverageTests.cs
  src/Microsoft.DotNet.Wpf/tests/UnitTests/DirectWriteForwarder.Tests/DWriteTypeConverterTests.cs
  src/Microsoft.DotNet.Wpf/tests/UnitTests/DirectWriteForwarder.Tests/EdgeCaseTests.cs
  src/Microsoft.DotNet.Wpf/tests/UnitTests/DirectWriteForwarder.Tests/FontCollectionTests.cs
  src/Microsoft.DotNet.Wpf/tests/UnitTests/DirectWriteForwarder.Tests/FontFileAndAnalyzerTests.cs
  src/Microsoft.DotNet.Wpf/tests/UnitTests/DirectWriteForwarder.Tests/FontTests.cs
  src/Microsoft.DotNet.Wpf/tests/UnitTests/DirectWriteForwarder.Tests/LocalizedStringsTests.cs
  src/Microsoft.DotNet.Wpf/tests/UnitTests/DirectWriteForwarder.Tests/TestHelpers.cs
  src/Microsoft.DotNet.Wpf/tests/UnitTests/DirectWriteForwarder.Tests/TextAnalyzerControlCharacterTests.cs
  src/Microsoft.DotNet.Wpf/tests/UnitTests/DirectWriteForwarder.Tests/TextAnalyzerIntegrationTests.cs
  src/Microsoft.DotNet.Wpf/tests/UnitTests/DirectWriteForwarder.Tests/TrueTypeSubsetterTests.cs
  src/Microsoft.DotNet.Wpf/tests/UnitTests/DirectWriteForwarder.Tests/TtfDeltaTests.cs
Due: test

Suppress SM04191 CodeQL flag
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/MS/Internal/DataStreams.cs
Due: production

Suppress SM04191 CodeQL flag (#11385)
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/MS/Internal/DataStreams.cs
Due: production

Adding SetLastError
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Standard/NativeMethods.cs
Due: production

Add TtfDelta coverage tests for DirectWriteForwarder
  src/Microsoft.DotNet.Wpf/tests/UnitTests/DirectWriteForwarder.Tests/TrueTypeSubsetterTests.cs
  src/Microsoft.DotNet.Wpf/tests/UnitTests/DirectWriteForwarder.Tests/TtfDeltaCoverageTests.cs
Due: test

Add the unit test project to solution.
  Microsoft.Dotnet.Wpf.sln
Due: none

Reintroduce IDWriteFactory.CreateTextAnalyzer HRESULT validation
  src/Microsoft.DotNet.Wpf/src/PresentationCore/MS/internal/Text/TextInterface/Factory.cs
Due: production

Improve DirectWriteForwarder test robustness and coverage
  src/Microsoft.DotNet.Wpf/tests/UnitTests/DirectWriteForwarder.Tests/AdditionalCoverageTests.cs
  src/Microsoft.DotNet.Wpf/tests/UnitTests/DirectWriteForwarder.Tests/DWriteTypeConverterTests.cs
  src/Microsoft.DotNet.Wpf/tests/UnitTests/DirectWriteForwarder.Tests/FontTests.cs
  src/Microsoft.DotNet.Wpf/tests/UnitTests/DirectWriteForwarder.Tests/GlobalUsings.cs
  src/Microsoft.DotNet.Wpf/tests/UnitTests/DirectWriteForwarder.Tests/LocalizedStringsTests.cs
  src/Microsoft.DotNet.Wpf/tests/UnitTests/DirectWriteForwarder.Tests/TextAnalyzerControlCharacterTests.cs
  src/Microsoft.DotNet.Wpf/tests/UnitTests/DirectWriteForwarder.Tests/TextAnalyzerIntegrationTests.cs
  src/Microsoft.DotNet.Wpf/tests/UnitTests/DirectWriteForwarder.Tests/TrueTypeSubsetterTests.cs
  src/Microsoft.DotNet.Wpf/tests/UnitTests/DirectWriteForwarder.Tests/TtfDeltaTests.cs
Due: test

Add expected string validation to InformationalStringID test
  src/Microsoft.DotNet.Wpf/tests/UnitTests/DirectWriteForwarder.Tests/DWriteTypeConverterTests.cs
Due: test

Update TrueTypeSubsetter tests for exception handling
  src/Microsoft.DotNet.Wpf/tests/UnitTests/DirectWriteForwarder.Tests/TrueTypeSubsetterTests.cs
Due: test

Fix text mapping for special characters
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/DWriteWrapper/IClassification.h
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/DWriteWrapper/TextAnalyzer.cpp
  src/Microsoft.DotNet.Wpf/src/PresentationCore/MS/internal/Classification.cs
  src/Microsoft.DotNet.Wpf/src/PresentationCore/MS/internal/FontFace/PhysicalFontFamily.cs
Due: production

CR feedback
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/DWriteWrapper/IClassification.h
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/DWriteWrapper/TextAnalyzer.cpp
  src/Microsoft.DotNet.Wpf/src/PresentationCore/MS/internal/Classification.cs
Due: production

Remove unnecessary test.
  src/Microsoft.DotNet.Wpf/tests/UnitTests/DirectWriteForwarder.Tests/LocalizedStringsTests.cs
Due: test

Reverting to VS2022 build queues
  .gitignore
  Directory.Build.props
  eng/WpfArcadeSdk/tools/Wpf.Cpp.props
  eng/pipeline-pr.yml
  eng/pipeline.yml
  eng/vs-workaround.targets
  src/Microsoft.DotNet.Wpf/redist/VCRuntime/VCRuntime.vcxproj
Due: none

Reverting to VS2022 build queues (#11411)
  .gitignore
  Directory.Build.props
  eng/WpfArcadeSdk/tools/Wpf.Cpp.props
  eng/pipeline-pr.yml
  eng/pipeline.yml
  eng/vs-workaround.targets
  src/Microsoft.DotNet.Wpf/redist/VCRuntime/VCRuntime.vcxproj
Due: none

Update branding to 8.0.25
  eng/Versions.props
Due: none

Update branding to 9.0.14
  eng/Versions.props
Due: none

Update branding to 9.0.14 (#11413)
  eng/Versions.props
Due: none

Update branding to 8.0.25 (#11412)
  eng/Versions.props
Due: none

Merged PR 57084: [internal/release/9.0] Update dependencies from dnceng/internal/dotnet-winforms
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Resolving PR Comments
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Standard/NativeMethods.cs
Due: production

Fix off-by-one in PriorityBinding.InitializeClone
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Data/PriorityBinding.cs
Due: production

Reverting D3D Compiler Pinning
  eng/WpfArcadeSdk/Sdk/Sdk.props
  global.json
  src/Microsoft.DotNet.Wpf/redist/D3DCompiler/D3DCompiler.vcxproj
Due: none

Reverting D3D Compiler Pinning
  .gitignore
  eng/WpfArcadeSdk/Sdk/Sdk.props
  global.json
  src/Microsoft.DotNet.Wpf/redist/D3DCompiler/D3DCompiler.vcxproj
Due: none
