Repository dotnet/wpf: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-winforms build 20250612.5
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-winforms build 20250612.3
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update
  eng/Versions.props
Due: none

Adding RecognizesAccessKey in remaining control styles (#10932)
  src/Microsoft.DotNet.Wpf/src/Themes/PresentationFramework.Fluent/Styles/Expander.xaml
  src/Microsoft.DotNet.Wpf/src/Themes/PresentationFramework.Fluent/Styles/RepeatButton.xaml
  src/Microsoft.DotNet.Wpf/src/Themes/PresentationFramework.Fluent/Styles/ToggleButton.xaml
  src/Microsoft.DotNet.Wpf/src/Themes/PresentationFramework.Fluent/Themes/Fluent.Dark.xaml
  src/Microsoft.DotNet.Wpf/src/Themes/PresentationFramework.Fluent/Themes/Fluent.HC.xaml
  src/Microsoft.DotNet.Wpf/src/Themes/PresentationFramework.Fluent/Themes/Fluent.Light.xaml
  src/Microsoft.DotNet.Wpf/src/Themes/PresentationFramework.Fluent/Themes/Fluent.xaml
Due: production

Migrate to xunit.v3
  Directory.Build.props
  dotnet.config
  eng/Versions.props
  src/Microsoft.DotNet.Wpf/tests/IntegrationTests/MultiTargeting.props
  src/Microsoft.DotNet.Wpf/tests/UnitTests/PresentationCore.Tests/PresentationCore.Tests.csproj
  src/Microsoft.DotNet.Wpf/tests/UnitTests/PresentationFramework.Fluent.Tests/PresentationFramework.Fluent.Tests.csproj
  src/Microsoft.DotNet.Wpf/tests/UnitTests/PresentationFramework.Tests/PresentationFramework.Tests.csproj
  src/Microsoft.DotNet.Wpf/tests/UnitTests/System.Printing.Tests/System.Printing.Tests.csproj
  src/Microsoft.DotNet.Wpf/tests/UnitTests/System.Xaml.Tests/System.Xaml.Tests.csproj
  src/Microsoft.DotNet.Wpf/tests/UnitTests/WindowsBase.Tests/WindowsBase.Tests.csproj
Due: test

Fix
  eng/Testing.targets
Due: none

Fix
  eng/Testing.targets
  eng/Versions.props
Due: none

Update to 3.0.0-pre.25
  eng/Versions.props
Due: none

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-winforms build 20250616.4
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Initial commit for MT ThemeManager
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/PresentationFramework.csproj
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Appearance/WindowBackdropManager.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Application.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Controls/DataGridCheckBoxColumn.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Documents/TextEditorContextMenu.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/SystemFonts.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/SystemResources.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/ThemeManager2.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/TreeWalkHelper.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Window.cs
Due: production

Update Versions.props to Preview 7
  eng/Versions.props
Due: none

Update Versions.props to Preview 7 (#10937)
  eng/Versions.props
Due: none

Skip
  src/Microsoft.DotNet.Wpf/tests/UnitTests/PresentationFramework.Fluent.Tests/PresentationFramework.Fluent.Tests.csproj
  src/Microsoft.DotNet.Wpf/tests/UnitTests/WindowsBase.Tests/System/Windows/Interop/ComponentDispatcherTests.cs
  src/Microsoft.DotNet.Wpf/tests/UnitTests/WindowsBase.Tests/System/Windows/SplashScreenTests.cs
Due: test

Update Versions.props
  eng/Versions.props
Due: none

Added AutomationProperties.Name for DatePicker Button
  src/Microsoft.DotNet.Wpf/src/Themes/PresentationFramework.Fluent/Styles/DatePicker.xaml
  src/Microsoft.DotNet.Wpf/src/Themes/PresentationFramework.Fluent/Themes/Fluent.Dark.xaml
  src/Microsoft.DotNet.Wpf/src/Themes/PresentationFramework.Fluent/Themes/Fluent.HC.xaml
  src/Microsoft.DotNet.Wpf/src/Themes/PresentationFramework.Fluent/Themes/Fluent.Light.xaml
  src/Microsoft.DotNet.Wpf/src/Themes/PresentationFramework.Fluent/Themes/Fluent.xaml
Due: production

Initial work for adding TransformPattern2 to WPF
  src/Microsoft.DotNet.Wpf/src/PresentationCore/MS/internal/Automation/TransformProvider2Wrapper.cs
  src/Microsoft.DotNet.Wpf/src/PresentationCore/PresentationCore.csproj
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/Automation/Peers/AutomationPeer.cs
  src/Microsoft.DotNet.Wpf/src/PresentationCore/ref/PresentationCore.cs
  src/Microsoft.DotNet.Wpf/src/UIAutomation/UIAutomationClient/MS/Internal/Automation/Schema.cs
  src/Microsoft.DotNet.Wpf/src/UIAutomation/UIAutomationClient/MS/Internal/Automation/UiaCoreApi.cs
  src/Microsoft.DotNet.Wpf/src/UIAutomation/UIAutomationClient/System/Windows/Automation/AutomationElement.cs
  src/Microsoft.DotNet.Wpf/src/UIAutomation/UIAutomationClient/System/Windows/Automation/TransformPattern2.cs
  src/Microsoft.DotNet.Wpf/src/UIAutomation/UIAutomationClient/UIAutomationClient.csproj
  src/Microsoft.DotNet.Wpf/src/UIAutomation/UIAutomationClient/ref/UIAutomationClient.cs
  src/Microsoft.DotNet.Wpf/src/UIAutomation/UIAutomationProvider/System/Windows/Automation/Provider/ITransformProvider2.cs
  src/Microsoft.DotNet.Wpf/src/UIAutomation/UIAutomationProvider/UIAutomationProvider.csproj
  src/Microsoft.DotNet.Wpf/src/UIAutomation/UIAutomationProvider/ref/UIAutomationProvider.cs
  src/Microsoft.DotNet.Wpf/src/UIAutomation/UIAutomationTypes/System/Windows/Automation/AutomationElementIdentifiers.cs
  src/Microsoft.DotNet.Wpf/src/UIAutomation/UIAutomationTypes/System/Windows/Automation/TransformPattern2Identifiers.cs
  src/Microsoft.DotNet.Wpf/src/UIAutomation/UIAutomationTypes/UIAutomationTypes.csproj
  src/Microsoft.DotNet.Wpf/src/UIAutomation/UIAutomationTypes/ref/UIAutomationTypes.cs
Due: production

Fixed DataGrid column header text color in HC mode
  src/Microsoft.DotNet.Wpf/src/Themes/PresentationFramework.Fluent/Resources/Theme/Dark.xaml
  src/Microsoft.DotNet.Wpf/src/Themes/PresentationFramework.Fluent/Resources/Theme/HC.xaml
  src/Microsoft.DotNet.Wpf/src/Themes/PresentationFramework.Fluent/Resources/Theme/Light.xaml
  src/Microsoft.DotNet.Wpf/src/Themes/PresentationFramework.Fluent/Styles/DataGrid.xaml
  src/Microsoft.DotNet.Wpf/src/Themes/PresentationFramework.Fluent/Themes/Fluent.Dark.xaml
  src/Microsoft.DotNet.Wpf/src/Themes/PresentationFramework.Fluent/Themes/Fluent.HC.xaml
  src/Microsoft.DotNet.Wpf/src/Themes/PresentationFramework.Fluent/Themes/Fluent.Light.xaml
  src/Microsoft.DotNet.Wpf/src/Themes/PresentationFramework.Fluent/Themes/Fluent.xaml
Due: production

Fix header
  src/Microsoft.DotNet.Wpf/src/UIAutomation/UIAutomationProvider/System/Windows/Automation/Provider/ITransformProvider2.cs
Due: production

Fix license header
  src/Microsoft.DotNet.Wpf/src/PresentationCore/MS/internal/Automation/TransformProvider2Wrapper.cs
Due: production

Fix modifier order
  src/Microsoft.DotNet.Wpf/src/UIAutomation/UIAutomationClient/System/Windows/Automation/TransformPattern2.cs
Due: production

Update branding to 8.0.19
  eng/Versions.props
Due: none

Update branding to 9.0.8
  eng/Versions.props
Due: none

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-winforms build 20250703.4
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update branding to 8.0.19 (#10963)
  eng/Versions.props
Due: none

Update branding to 9.0.8 (#10964)
  eng/Versions.props
Due: none

Fixes DatePicker control to match the use of localized resource for ShowCalendar button name
  src/Microsoft.DotNet.Wpf/src/Themes/PresentationFramework.Fluent/Styles/DatePicker.xaml
  src/Microsoft.DotNet.Wpf/src/Themes/PresentationFramework.Fluent/Themes/Fluent.Dark.xaml
  src/Microsoft.DotNet.Wpf/src/Themes/PresentationFramework.Fluent/Themes/Fluent.HC.xaml
  src/Microsoft.DotNet.Wpf/src/Themes/PresentationFramework.Fluent/Themes/Fluent.Light.xaml
  src/Microsoft.DotNet.Wpf/src/Themes/PresentationFramework.Fluent/Themes/Fluent.xaml
Due: production

Removing unnecessary comments in Fluent theme files
  src/Microsoft.DotNet.Wpf/src/Themes/PresentationFramework.Fluent/Styles/ComboBox.xaml
  src/Microsoft.DotNet.Wpf/src/Themes/PresentationFramework.Fluent/Styles/DataGrid.xaml
  src/Microsoft.DotNet.Wpf/src/Themes/PresentationFramework.Fluent/Styles/RadioButton.xaml
  src/Microsoft.DotNet.Wpf/src/Themes/PresentationFramework.Fluent/Styles/RepeatButton.xaml
  src/Microsoft.DotNet.Wpf/src/Themes/PresentationFramework.Fluent/Styles/ToggleButton.xaml
  src/Microsoft.DotNet.Wpf/src/Themes/PresentationFramework.Fluent/Styles/TreeViewItem.xaml
  src/Microsoft.DotNet.Wpf/src/Themes/PresentationFramework.Fluent/Themes/Fluent.Dark.xaml
  src/Microsoft.DotNet.Wpf/src/Themes/PresentationFramework.Fluent/Themes/Fluent.HC.xaml
  src/Microsoft.DotNet.Wpf/src/Themes/PresentationFramework.Fluent/Themes/Fluent.Light.xaml
  src/Microsoft.DotNet.Wpf/src/Themes/PresentationFramework.Fluent/Themes/Fluent.xaml
Due: production

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-winforms build 20250612.3 (#10967)
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Revert "Update dependencies from https://dev.azure.com/dnceng/internal/_git/d…"
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update global.json
  global.json
Due: none

Update global.json (#10973)
  global.json
Due: none

Made Show Calendar button focusable
  src/Microsoft.DotNet.Wpf/src/Themes/PresentationFramework.Fluent/Styles/DatePicker.xaml
  src/Microsoft.DotNet.Wpf/src/Themes/PresentationFramework.Fluent/Themes/Fluent.Dark.xaml
  src/Microsoft.DotNet.Wpf/src/Themes/PresentationFramework.Fluent/Themes/Fluent.HC.xaml
  src/Microsoft.DotNet.Wpf/src/Themes/PresentationFramework.Fluent/Themes/Fluent.Light.xaml
  src/Microsoft.DotNet.Wpf/src/Themes/PresentationFramework.Fluent/Themes/Fluent.xaml
Due: production

Wrapped ExtendIntoClientArea call inside an IsCompositionEnabled DWM call
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Appearance/WindowBackdropManager.cs
Due: production

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-winforms build 20250710.3
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Due: none

[internal/release/9.0] Update dependencies from dnceng/internal/dotnet-winforms
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-winforms build 20250710.6
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Avoid UCEERR_RENDERTHREADFAILURE (#10394)
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/hw/InteropDeviceBitmap.cpp
Due: production

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-winforms build 20250714.1
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Fixed AutomationProperties.Name for DatePicker Button (#10949)
  src/Microsoft.DotNet.Wpf/src/Themes/PresentationFramework.Fluent/Styles/DatePicker.xaml
  src/Microsoft.DotNet.Wpf/src/Themes/PresentationFramework.Fluent/Themes/Fluent.Dark.xaml
  src/Microsoft.DotNet.Wpf/src/Themes/PresentationFramework.Fluent/Themes/Fluent.HC.xaml
  src/Microsoft.DotNet.Wpf/src/Themes/PresentationFramework.Fluent/Themes/Fluent.Light.xaml
  src/Microsoft.DotNet.Wpf/src/Themes/PresentationFramework.Fluent/Themes/Fluent.xaml
Due: production

Path conditions:
  production: any of: src/Microsoft.DotNet.Wpf/src
  test: any of: src/Microsoft.DotNet.Wpf/tests/
