Repository dotnet/wpf: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Formatting
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/clipboard.cs
Due: production

Update agent pool demands to use VS 2022
  azure-pipelines-pr.yml
Due: none

Update agent demands to use windows.vs2022.amd64
  azure-pipelines-pr.yml
Due: none

Update agent demands for Azure DevOps pipeline
  eng/pipeline-pr.yml
Due: none

fix/11848: BAML assembly resolution to respect AssemblyLoadContext
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Markup/Baml2006/Baml2006SchemaContext.cs
Due: production

fix/11848: Swallow only specific assembly-load failures
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Markup/Baml2006/Baml2006SchemaContext.cs
Due: production

Removing non deterministic DefaultCredentialPolicy tests, FakeSecurityManager
  src/Microsoft.DotNet.Wpf/tests/UnitTests/PresentationCore.Tests/MS/Internal/AppModel/DefaultCredentialsZonePolicyTests.cs
Due: test

Fix kern subsetting regression for fonts with >64KB kern tables
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/modtable.cpp
Due: production

Restoring autoConvert behavior in Clipboard APIs (#11837)
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/clipboard.cs
  src/Microsoft.DotNet.Wpf/tests/UnitTests/PresentationCore.Tests/System/Windows/ClipboardTests.cs
Due: production, test

Fix OneLoc GitHub App installation selection
  eng/common/Get-GitHubAppToken.ps1
Due: none

Fix Binding errors when Ribbon is outside of RibbonWindow
  src/Microsoft.DotNet.Wpf/src/System.Windows.Controls.Ribbon/Themes/Generic.xaml
  src/Microsoft.DotNet.Wpf/src/System.Windows.Controls.Ribbon/Themes/Generic.xaml.sdk
  src/Microsoft.DotNet.Wpf/src/System.Windows.Controls.Ribbon/Themes/XAML/Ribbon.xaml
Due: production

Scope C4995 suppressions to deprecated XPS APIs
  src/Microsoft.DotNet.Wpf/src/System.Printing/CPP/inc/XpsDeviceSimulatingInteropPrinterHandler.hpp
  src/Microsoft.DotNet.Wpf/src/System.Printing/CPP/src/XpsDeviceSimulatingInteropPrinterHandler.cpp
Due: production

Scope IME display attribute enumeration to the edited ranges
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Documents/TextServicesDisplayAttributePropertyRanges.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Documents/TextServicesPropertyRanges.cs
Due: production

Restore UIA support for custom controls
  src/Microsoft.DotNet.Wpf/src/UIAutomation/UIAutomationClientSideProviders/LibraryAssemblyInfo.cs
  src/Microsoft.DotNet.Wpf/src/UIAutomation/UIAutomationClientSideProviders/MS/Internal/AutomationProxies/Accessible.cs
  src/Microsoft.DotNet.Wpf/src/UIAutomation/UIAutomationClientSideProviders/MS/Internal/AutomationProxies/MSAAEventDispatcher.cs
  src/Microsoft.DotNet.Wpf/src/UIAutomation/UIAutomationClientSideProviders/MS/Internal/AutomationProxies/MSAANativeProvider.cs
  src/Microsoft.DotNet.Wpf/src/UIAutomation/UIAutomationClientSideProviders/MS/Internal/AutomationProxies/MSAAWinEventWrap.cs
  src/Microsoft.DotNet.Wpf/src/UIAutomation/UIAutomationClientSideProviders/MS/Win32/NativeMethods.cs
  src/Microsoft.DotNet.Wpf/src/UIAutomation/UIAutomationClientSideProviders/MS/Win32/UnsafeNativeMethods.cs
  src/Microsoft.DotNet.Wpf/src/UIAutomation/UIAutomationClientSideProviders/UIAutomationClientSideProviders.csproj
  src/Microsoft.DotNet.Wpf/tests/UnitTests/PresentationCore.Tests/MS/Internal/AutomationProxies/AccessibleExTests.cs
  src/Microsoft.DotNet.Wpf/tests/UnitTests/PresentationCore.Tests/PresentationCore.Tests.csproj
Due: production, test

Update branding on release/9.0
  eng/Versions.props
Due: none

Update branding on release/8.0
  eng/Versions.props
Due: none

[release/8.0] Update branding to 8.0.32 (#11885)
  eng/Versions.props
Due: none

[release/9.0] Update branding to 9.0.21 (#11884)
  eng/Versions.props
Due: none

Add dotnet12 feeds to NuGet.config
  NuGet.config
Due: none

Scope the enumeration to compositions and changed ranges
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Documents/TextServicesDisplayAttributePropertyRanges.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Documents/TextServicesPropertyRanges.cs
Due: production

Add dotnet12 feeds to NuGet.config (#11893)
  NuGet.config
Due: none

Fix GridSplitter runaway resize when a neighboring star definition is clamped
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Controls/GridSplitter.cs
Due: production

Merging internal commits for release/9.0 (#11918)
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/modtable.cpp
Due: production

Fix kern subsetting regression for fonts with >64KB kern tables (#11877)
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/modtable.cpp
Due: production

Merging internal commits for release/8.0 (#11919)
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/modtable.cpp
  src/Microsoft.DotNet.Wpf/tests/UnitTests/PresentationCore.Tests/MS/Internal/AppModel/DefaultCredentialsZonePolicyTests.cs
Due: production, test

Revert "Merging internal commits for release/9.0 (#11918)"
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/modtable.cpp
Due: production

Revert "Merging internal commits for release/8.0 (#11919)"
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/modtable.cpp
  src/Microsoft.DotNet.Wpf/tests/UnitTests/PresentationCore.Tests/MS/Internal/AppModel/DefaultCredentialsZonePolicyTests.cs
Due: production, test

Revert "Merging internal commits for release/9.0" (#11924)
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/modtable.cpp
Due: production

Revert "Merging internal commits for release/8.0" (#11926)
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/modtable.cpp
  src/Microsoft.DotNet.Wpf/tests/UnitTests/PresentationCore.Tests/MS/Internal/AppModel/DefaultCredentialsZonePolicyTests.cs
Due: production, test

Fix crash when input language LANGID exceeds Int16.MaxValue
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/Input/InputLanguageManager.cs
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/Input/InputLanguageSource.cs
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/Input/InputProcessorProfiles.cs
Due: production

Add MouseHorizontalWheel and PreviewMouseHorizontalWheel routed events (#3201)
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/Generated/ContentElement.cs
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/Generated/UIElement.cs
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/Generated/UIElement3D.cs
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/Input/Mouse.cs
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/Input/MouseDevice.cs
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/InterOp/HwndMouseInputProvider.cs
  src/Microsoft.DotNet.Wpf/src/PresentationCore/ref/PresentationCore.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Controls/FlowDocumentScrollViewer.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Controls/Primitives/TextBoxBase.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Controls/ScrollViewer.cs
  src/Microsoft.DotNet.Wpf/src/WpfGfx/codegen/mcg/xml/Elements.xml
Due: production

Annotate horizontal wheel sign convention and fix direction comments
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/InterOp/HwndMouseInputProvider.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Controls/Primitives/TextBoxBase.cs
Due: production

Fix TabPanel row count during arrange
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Controls/Primitives/TabPanel.cs
  src/Microsoft.DotNet.Wpf/tests/UnitTests/PresentationFramework.Tests/System/Windows/Controls/Primitives/TabPanelTests.cs
Due: production, test

Move horizontal wheel direction handling into the handlers
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/InterOp/HwndMouseInputProvider.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Controls/FlowDocumentScrollViewer.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Controls/Primitives/TextBoxBase.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Controls/ScrollViewer.cs
Due: production

Adding exhaustive Clipboard tests
  src/Microsoft.DotNet.Wpf/tests/UnitTests/PresentationCore.Tests/PresentationCore.Tests.csproj
  src/Microsoft.DotNet.Wpf/tests/UnitTests/PresentationCore.Tests/System/Windows/ClipboardTests.cs
Due: test

Path conditions:
  production: any of: src/Microsoft.DotNet.Wpf/src
  test: any of: src/Microsoft.DotNet.Wpf/tests/
