Repository dotnet/wpf: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  range: 20..80                   # 20 is red, 80 is green
  round: down                     # always round down
  precision: 5                    # highest level of decimal precision
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "eng/::/"

comment:
  layout: "diff, flags"           # coverage difference, flags below

flags:                            # which files to include in the reporting
  production:
    paths:
      - src/Microsoft.DotNet.Wpf/src
  test:
    paths:
      - src/Microsoft.DotNet.Wpf/tests/

Adding exhaustive Clipboard tests
  src/Microsoft.DotNet.Wpf/tests/UnitTests/PresentationCore.Tests/System/Windows/ClipboardTests.cs
Due: test

Add WindowChrome DWM caption/backdrop support
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/LibraryAssemblyInfo.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/PresentationFramework.csproj
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Appearance/WindowBackdropManager.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Shell/CaptionTextColorHelper.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Shell/WindowCaptionAdorner.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Shell/WindowChrome.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Shell/WindowChromeWorker.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Standard/NativeMethods.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Standard/Utilities.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/ThemeManager.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Window.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/WindowBackdropType.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/ref/PresentationFramework.cs
  src/Microsoft.DotNet.Wpf/src/System.Windows.Controls.Ribbon/Microsoft/Windows/Controls/Ribbon/Primitives/RibbonTitlePanel.cs
  src/Microsoft.DotNet.Wpf/src/System.Windows.Controls.Ribbon/Themes/Aero2.NormalColor.xaml
  src/Microsoft.DotNet.Wpf/src/System.Windows.Controls.Ribbon/Themes/AeroLite.NormalColor.xaml
  src/Microsoft.DotNet.Wpf/src/System.Windows.Controls.Ribbon/Themes/Generic.xaml
  src/Microsoft.DotNet.Wpf/src/System.Windows.Controls.Ribbon/Themes/XAML/Ribbon.xaml
  src/Microsoft.DotNet.Wpf/src/System.Windows.Controls.Ribbon/Themes/XAML/RibbonQuickAccessToolBar.xaml
  src/Microsoft.DotNet.Wpf/src/System.Windows.Controls.Ribbon/Themes/XAML/RibbonWindow.xaml
  src/Microsoft.DotNet.Wpf/tests/UnitTests/PresentationFramework.Tests/System/Windows/Shell/CaptionTextColorHelperTests.cs
  src/Microsoft.DotNet.Wpf/tests/UnitTests/PresentationFramework.Tests/System/Windows/Shell/WindowChromeFrameInsetsTests.cs
  src/Microsoft.DotNet.Wpf/tests/UnitTests/PresentationFramework.Tests/System/Windows/Shell/WindowChromeTests.cs
  src/Microsoft.DotNet.Wpf/tests/UnitTests/PresentationFramework.Tests/System/Windows/ThemeManagerTests.cs
Due: production, test

SweepGradientBrush managed
  src/Microsoft.DotNet.Wpf/src/PresentationCore/PresentationCore.csproj
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/Media/SweepGradientBrush.cs
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/api/api_brush.h
Due: production

Route horizontal wheel input to the window under the mouse
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/InterOp/HwndMouseInputProvider.cs
Due: production

Fix culture invariance of ArcSegment's RotationAngle during XPS serialization
  src/Microsoft.DotNet.Wpf/src/ReachFramework/Serialization/VisualSerializer.cs
Due: production

Fix providing EnhancedMetafile to other applications through the clipboard
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/Ole/WpfOleServices.cs
  src/Microsoft.DotNet.Wpf/tests/UnitTests/PresentationCore.Tests/System/Windows/ClipboardTests.cs
Due: production, test

Fix FatalExecutionEngineError on insert at start of soft-wrapped line in TextBox (#11481) (#11641)
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/MS/Internal/documents/TextBoxView.cs
Due: production

Fix chrome caption sizing and theme transitions
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Shell/WindowCaptionAdorner.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Shell/WindowChrome.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Shell/WindowChromeWorker.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/ThemeManager.cs
  src/Microsoft.DotNet.Wpf/src/System.Windows.Controls.Ribbon/Themes/Aero2.NormalColor.xaml
  src/Microsoft.DotNet.Wpf/src/System.Windows.Controls.Ribbon/Themes/AeroLite.NormalColor.xaml
  src/Microsoft.DotNet.Wpf/src/System.Windows.Controls.Ribbon/Themes/Generic.xaml
  src/Microsoft.DotNet.Wpf/src/System.Windows.Controls.Ribbon/Themes/XAML/Ribbon.xaml
  src/Microsoft.DotNet.Wpf/src/System.Windows.Controls.Ribbon/Themes/XAML/RibbonWindow.xaml
  src/Microsoft.DotNet.Wpf/tests/UnitTests/PresentationFramework.Tests/System/Windows/Shell/WindowChromeTests.cs
Due: production, test

Fix temporary WPF assembly identity evaluation
  src/Microsoft.DotNet.Wpf/src/PresentationBuildTasks/Microsoft/Build/Tasks/Windows/GenerateTemporaryTargetAssembly.cs
Due: production

Preserve early temporary project identity
  src/Microsoft.DotNet.Wpf/src/PresentationBuildTasks/Microsoft/Build/Tasks/Windows/GenerateTemporaryTargetAssembly.cs
Due: production

Simplify temporary targets import lookup
  src/Microsoft.DotNet.Wpf/src/PresentationBuildTasks/Microsoft/Build/Tasks/Windows/GenerateTemporaryTargetAssembly.cs
Due: production

Modify target assembly generation logic
  src/Microsoft.DotNet.Wpf/src/PresentationBuildTasks/Microsoft/Build/Tasks/Windows/GenerateTemporaryTargetAssembly.cs
Due: production

Handle grouped SDK target imports
  src/Microsoft.DotNet.Wpf/src/PresentationBuildTasks/Microsoft/Build/Tasks/Windows/GenerateTemporaryTargetAssembly.cs
Due: production

fix(wpf): use UTF-8 for native compilation
  eng/WpfArcadeSdk/tools/Wpf.Cpp.props
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/modsbit.cpp
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/ttf_safe_checks.h
Due: production

Added clipboard tests to capture current state of EMF.
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/dataobject.cs
  src/Microsoft.DotNet.Wpf/tests/UnitTests/PresentationCore.Tests/System/Windows/ClipboardTests.cs
  src/Microsoft.DotNet.Wpf/tests/UnitTests/PresentationCore.Tests/System/Windows/DataObjectMetafileTests.cs
  src/Microsoft.DotNet.Wpf/tests/UnitTests/PresentationCore.Tests/System/Windows/EmfTestData.cs
Due: production, test

Added clipboard tests to capture current state of EMF.
  src/Microsoft.DotNet.Wpf/tests/UnitTests/PresentationCore.Tests/System/Windows/ClipboardTests.cs
  src/Microsoft.DotNet.Wpf/tests/UnitTests/PresentationCore.Tests/System/Windows/DataObjectMetafileTests.cs
  src/Microsoft.DotNet.Wpf/tests/UnitTests/PresentationCore.Tests/System/Windows/EmfTestData.cs
Due: test

Add caption button role support to WindowChrome
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Shell/WindowChrome.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Shell/WindowChromeWorker.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Standard/NativeMethods.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/ref/PresentationFramework.cs
  src/Microsoft.DotNet.Wpf/tests/UnitTests/PresentationFramework.Tests/System/Windows/Shell/WindowChromeTests.cs
Due: production, test

Fix touch Click not raised after a tap opens a modal dialog (#194)
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/Input/Stylus/Common/StylusTouchDeviceBase.cs
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/Input/Stylus/Wisp/WispLogic.cs
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/Input/Stylus/Wisp/WispStylusDevice.cs
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/Input/Stylus/Wisp/WispStylusTouchDevice.cs
Due: production

Restore WPF Clipboard compatibility and native EMF support
  Documentation/Clipboard-Behavior-Changes-9.0-to-10.0.md
  src/Microsoft.DotNet.Wpf/src/Extensions/PresentationFramework-SystemDrawing/SystemDrawingExtension.cs
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/Ole/WpfOleServices.cs
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/clipboard.cs
  src/Microsoft.DotNet.Wpf/tests/UnitTests/PresentationCore.Tests/System/Windows/ClipboardTests.cs
  src/Microsoft.DotNet.Wpf/tests/UnitTests/PresentationCore.Tests/System/Windows/DataObjectTests.cs
  src/Microsoft.DotNet.Wpf/tests/UnitTests/PresentationCore.Tests/System/Windows/EmfTestData.cs
Due: production, test

Fixed the PR test failure. The CI test output was missing native WPF binaries.
  src/Microsoft.DotNet.Wpf/tests/UnitTests/PresentationCore.Tests/PresentationCore.Tests.csproj
Due: test

Release promoted mouse button when stylus up arrives at a disabled window (#194)
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/Input/Stylus/Wisp/WispLogic.cs
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/Input/Stylus/Wisp/WispStylusDevice.cs
Due: production

Orphan touch devices when their window is disabled instead of on up (#194 review)
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/Input/Stylus/Common/StylusTouchDeviceBase.cs
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/Input/Stylus/Wisp/WispLogic.cs
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/Input/Stylus/Wisp/WispStylusDevice.cs
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/Input/Stylus/Wisp/WispStylusTouchDevice.cs
Due: production

Fixed the x86 and ARM64 build regressions from the previous native-dependency change.
  src/Microsoft.DotNet.Wpf/tests/UnitTests/PresentationCore.Tests/PresentationCore.Tests.csproj
  src/Microsoft.DotNet.Wpf/tests/UnitTests/PresentationCore.Tests/System/Windows/ClipboardTests.cs
Due: test

Add deterministic Clipboard retry coverage
  src/Microsoft.DotNet.Wpf/tests/UnitTests/PresentationCore.Tests/System/Windows/ClipboardTests.cs
Due: test

Address Clipboard PR review feedback
  Documentation/Clipboard-Behavior-Changes-9.0-to-10.0.md
  src/Microsoft.DotNet.Wpf/tests/UnitTests/PresentationCore.Tests/System/Windows/ClipboardTests.cs
  src/Microsoft.DotNet.Wpf/tests/UnitTests/PresentationCore.Tests/System/Windows/DataObjectMetafileTests.cs
  src/Microsoft.DotNet.Wpf/tests/UnitTests/PresentationCore.Tests/System/Windows/DataObjectTests.cs
Due: test

Align Clipboard compatibility documentation
  Documentation/Clipboard-Behavior-Changes-9.0-to-10.0.md
Due: none
