Repository dotnet/wpf: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

[internal/release/8.0] Update dependencies from dnceng/internal/dotnet-winforms
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Merged PR 53799: [internal/release/8.0] Update dependencies from dnceng/internal/dotnet-winforms
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Merged PR 53803: [internal/release/9.0] Update dependencies from dnceng/internal/dotnet-winforms
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Merged PR 53805: [internal/release/9.0] Update dependencies from dnceng/internal/dotnet-winforms
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Fix: reordered import in temporary project to ensure correct property override
  src/Microsoft.DotNet.Wpf/src/PresentationBuildTasks/Microsoft/Build/Tasks/Windows/GenerateTemporaryTargetAssembly.cs
Due: production

Update branding to 8.0.22
  eng/Versions.props
Due: none

Update branding to 9.0.11
  eng/Versions.props
Due: none

Update branding to 9.0.11 (#11165)
  eng/Versions.props
Due: none

Update branding to 8.0.22 (#11164)
  eng/Versions.props
Due: none

Update SchemaPP.cs
  src/Microsoft.DotNet.Wpf/src/ReachFramework/Resources/generator/SchemaPP.cs
Due: production

Update MiscDef.cs
  src/Microsoft.DotNet.Wpf/src/WpfGfx/codegen/mcg/generators/MiscDef.cs
Due: production

Make Dependent implement IEquatable<T> to reduce boxing
  src/Microsoft.DotNet.Wpf/src/WindowsBase/System/Windows/DependentList.cs
Due: production

Compiler error
  src/Microsoft.DotNet.Wpf/src/WindowsBase/System/Windows/DependentList.cs
Due: production

Update XpsOMSerializationManager.cs
  src/Microsoft.DotNet.Wpf/src/ReachFramework/Serialization/manager/XpsOMSerializationManager.cs
Due: production

Update XpsOMDocumentPageSerializerAsync.cs
  src/Microsoft.DotNet.Wpf/src/ReachFramework/Serialization/manager/XpsOMDocumentPageSerializerAsync.cs
Due: production

Update XpsSerializationManager.cs
  src/Microsoft.DotNet.Wpf/src/ReachFramework/Serialization/manager/XpsSerializationManager.cs
Due: production

Update XpsResourcePolicy.cs
  src/Microsoft.DotNet.Wpf/src/ReachFramework/Packaging/XpsResourcePolicy.cs
Due: production

Update XpsManager.cs
  src/Microsoft.DotNet.Wpf/src/ReachFramework/Packaging/XpsManager.cs
Due: production

Update XpsDigitalSignature.cs
  src/Microsoft.DotNet.Wpf/src/ReachFramework/Packaging/XpsDigitalSignature.cs
Due: production

Update VisualSerializer.cs
  src/Microsoft.DotNet.Wpf/src/ReachFramework/Serialization/VisualSerializer.cs
Due: production

Remove auditSources from NuGet.config
  NuGet.config
Due: none

Update global.json
  global.json
Due: none

Update src/Microsoft.DotNet.Wpf/src/WindowsBase/System/Windows/DependentList.cs
  src/Microsoft.DotNet.Wpf/src/WindowsBase/System/Windows/DependentList.cs
Due: production

Fix validation adorner race condition (#8969)
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Controls/Validation.cs
Due: production

Switch test runner to global.json (#11096)
  dotnet.config
  global.json
Due: none

Merged PR 54676: [internal/release/8.0] Update dependencies from dnceng/internal/dotnet-winforms
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Updated .Net version in developer guide
  Documentation/developer-guide.md
Due: none

Updated .Net version in developer guide (#11225)
  Documentation/developer-guide.md
Due: none

Update branding to 8.0.23
  eng/Versions.props
Due: none

Update branding to 9.0.12
  eng/Versions.props
Due: none

Update branding to 10.0.1
  eng/Versions.props
Due: none

Update branding to 10.0.1 (#11230)
  eng/Versions.props
Due: none

Update branding to 8.0.23 (#11228)
  eng/Versions.props
Due: none

Update branding to 9.0.12 (#11229)
  eng/Versions.props
Due: none

Remove auditSources from NuGet.config (#11184)
  NuGet.config
Due: none

Changes by Copilot
  .tools/vswhere/3.1.7/vswhere.exe
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Standard/NativeMethods.cs
  src/Microsoft.DotNet.Wpf/src/WindowsBase/MS/Internal/Utilities.cs
  src/Microsoft.DotNet.Wpf/tests/UnitTests/WindowsBase.Tests/MS/Internal/UtilitiesTests.cs
Due: production, test

Add .azuredevops/dependabot.yml
  .azuredevops/dependabot.yml
Due: none

Fix post-sort index tracking in RBTree insertion sort
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/MS/Internal/Data/RBNode.cs
  src/Microsoft.DotNet.Wpf/tests/UnitTests/PresentationFramework.Tests/System/Windows/Data/ListCollectionViewTests.cs
Due: production, test

Path conditions:
  production: any of: src/Microsoft.DotNet.Wpf/src
  test: any of: src/Microsoft.DotNet.Wpf/tests/
