Repository dotnet/wpf: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  range: 20..80                   # 20 is red, 80 is green
  round: down                     # always round down
  precision: 5                    # highest level of decimal precision
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "eng/::/"

comment:
  layout: "diff, flags"           # coverage difference, flags below

flags:                            # which files to include in the reporting
  production:
    paths:
      - src/Microsoft.DotNet.Wpf/src
  test:
    paths:
      - src/Microsoft.DotNet.Wpf/tests/

Disable AzDO dependabot (#11255)
  .azuredevops/dependabot.yml
Due: none

Restrict ListCollectionViewTests.TestItem visibility
  src/Microsoft.DotNet.Wpf/tests/UnitTests/PresentationFramework.Tests/System/Windows/Data/ListCollectionViewTests.cs
Due: test

Adding retry mechanism in DwmExtendFrameIntoClientArea
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Standard/NativeMethods.cs
Due: production

Revert "Update dependencies from https://github.com/dotnet/arcade build 20251112.3 (#11251)"
  eng/Version.Details.xml
  eng/Versions.props
  eng/common/cross/x64/sources.list.bionic
  eng/common/cross/x64/sources.list.xenial
  eng/common/cross/x64/tizen/tizen.patch
  eng/common/cross/x86/sources.list.focal
  eng/common/cross/x86/sources.list.jammy
  eng/common/cross/x86/tizen/tizen.patch
  eng/common/templates-official/job/publish-build-assets.yml
  eng/common/templates-official/post-build/post-build.yml
  eng/common/templates/job/publish-build-assets.yml
  eng/common/templates/post-build/post-build.yml
  global.json
Due: none

Update dotnet and sdk versions in global.json
  global.json
Due: none

Update dotnet version in global.json
  global.json
Due: none

release/8.0 Revert arcade update (#11271)
  eng/Version.Details.xml
  eng/Versions.props
  eng/common/cross/x64/sources.list.bionic
  eng/common/cross/x64/sources.list.xenial
  eng/common/cross/x64/tizen/tizen.patch
  eng/common/cross/x86/sources.list.focal
  eng/common/cross/x86/sources.list.jammy
  eng/common/cross/x86/tizen/tizen.patch
  eng/common/templates-official/job/publish-build-assets.yml
  eng/common/templates-official/post-build/post-build.yml
  eng/common/templates/job/publish-build-assets.yml
  eng/common/templates/post-build/post-build.yml
  global.json
Due: none

Adding Log statement
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Standard/NativeMethods.cs
Due: production

Adding Log Statement
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Standard/NativeMethods.cs
Due: production

Add Containment
  src/Microsoft.DotNet.Wpf/src/PresentationCore/MS/internal/CoreAppContextSwitches.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/MS/Internal/FrameworkAppContextSwitches.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/AppContextDefaultValues.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Standard/NativeMethods.cs
Due: production

Remove Windows 2000 dead code
  src/Microsoft.DotNet.Wpf/src/UIAutomation/UIAutomationClientSideProviders/MS/Internal/AutomationProxies/CommonXSendMessage.cs
Due: production

Fix .Net 10 SDK build issue when using internal members
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Markup/XamlTypeMapper.cs
  src/Microsoft.DotNet.Wpf/src/Shared/System/Windows/Markup/ReflectionHelper.cs
Due: production

Add Containment (#11285)
  src/Microsoft.DotNet.Wpf/src/PresentationCore/MS/internal/CoreAppContextSwitches.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/MS/Internal/FrameworkAppContextSwitches.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/AppContextDefaultValues.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Standard/NativeMethods.cs
Due: production

Enable retry mechanism is Fluent Crashes (#11284)
  src/Microsoft.DotNet.Wpf/src/PresentationCore/MS/internal/CoreAppContextSwitches.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/MS/Internal/FrameworkAppContextSwitches.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/AppContextDefaultValues.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Standard/NativeMethods.cs
Due: production

Fix .Net 10 SDK build issue when using internal members (#11289)
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Markup/XamlTypeMapper.cs
  src/Microsoft.DotNet.Wpf/src/Shared/System/Windows/Markup/ReflectionHelper.cs
Due: production

Fix incorrect registry path of StylusLogic (#11239)
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/Input/Stylus/Common/StylusLogic.cs
Due: production

Feedback
  azure-pipelines-pr.yml
  azure-pipelines.yml
Due: none

Test source index + oneloc
  azure-pipelines.yml
Due: none

Enable source indexing
  azure-pipelines.yml
Due: none

Revert "Test source index + oneloc"
  azure-pipelines.yml
Due: none

Remove comment
  azure-pipelines-pr.yml
Due: none

Switch back to release tag
  azure-pipelines.yml
Due: none

Enable assetless builds and clean up YAMLs (#11290)
  azure-pipelines-pr.yml
  azure-pipelines.yml
  azure-pipelines1.yml
  eng/pipeline-pr.yml
  eng/pipeline.yml
Due: none

Updating MSVC Toolset version to v145
  eng/WpfArcadeSdk/tools/Wpf.Cpp.props
  src/Microsoft.DotNet.Wpf/redist/VCRuntime/VCRuntime.vcxproj
Due: none

Updated wpf.vsconfig to install the required components for local builds
  Documentation/wpf.vsconfig
Due: none

Updating images in repo specific pipeline YML files
  azure-pipelines-pr.yml
  azure-pipelines.yml
Due: none

Switch back to release tag (#11305)
  azure-pipelines.yml
Due: none

Updating the WindowsTargetPlatformVersion
  eng/WpfArcadeSdk/tools/Wpf.Cpp.props
Due: none

Updating MSVC toolset version
  eng/WpfArcadeSdk/tools/Wpf.Cpp.props
Due: none

Reverting PlatformToolset version
  eng/WpfArcadeSdk/tools/Wpf.Cpp.props
Due: none

Updating wpf-int version to verify build issue failures
  eng/Version.Details.props
  eng/Version.Details.xml
Due: none

DWM bug fix
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Shell/WindowChromeWorker.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Standard/ErrorCodes.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Standard/NativeMethods.cs
Due: production

Switch back to release tag (#11306)
  azure-pipelines.yml
Due: none

Enabling use of ATL in PenImc
  src/Microsoft.DotNet.Wpf/src/PenImc/dll/PenImc.vcxproj
Due: production

Adding C++ ATL Components manually
  azure-pipelines-pr.yml
  src/Microsoft.DotNet.Wpf/src/PenImc/dll/PenImc.vcxproj
Due: production

Adding test steps to verify the installed components
  azure-pipelines-pr.yml
Due: none

Fixing VS install path
  azure-pipelines-pr.yml
Due: none
