Repository dotnet/wpf: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  range: 20..80                   # 20 is red, 80 is green
  round: down                     # always round down
  precision: 5                    # highest level of decimal precision
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "eng/::/"

comment:
  layout: "diff, flags"           # coverage difference, flags below

flags:                            # which files to include in the reporting
  production:
    paths:
      - src/Microsoft.DotNet.Wpf/src
  test:
    paths:
      - src/Microsoft.DotNet.Wpf/tests/

[internal/release/9.0] Update dependencies from dnceng/internal/dotnet-winforms
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Fix FatalExecutionEngineError on insert at start of soft-wrapped line in TextBox (#11481)
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/MS/Internal/documents/TextBoxView.cs
Due: production

Fix potential overflow issues in WPF native code
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/automap.cpp
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/intsafe_private_copy.h
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/makeglst.cpp
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/modcmap.cpp
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/modglyf.cpp
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/modsbit.cpp
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/modtable.cpp
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/ttf_safe_checks.h
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/ttfacc.cpp
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/ttfdelta.cpp
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/ttftabl1.cpp
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/ttftable.cpp
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/truetype.cpp
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/main.cpp
  src/Microsoft.DotNet.Wpf/src/PenImc/dll/PenImc.cpp
  src/Microsoft.DotNet.Wpf/src/PenImc/dll/PenImc.def
  src/Microsoft.DotNet.Wpf/src/PenImc/dll/PenImcSwitches.h
  src/Microsoft.DotNet.Wpf/src/PenImc/dll/PimcContext.cpp
  src/Microsoft.DotNet.Wpf/src/PenImc/dll/PimcTablet.cpp
  src/Microsoft.DotNet.Wpf/src/PresentationCore/MS/Win32/UnsafeNativeMethodsPenimc.cs
  src/Microsoft.DotNet.Wpf/src/PresentationCore/MS/internal/CoreAppContextSwitches.cs
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/Media/MediaSystem.cs
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/Media/UnsafeNativeMethodsMilCoreApi.cs
  src/Microsoft.DotNet.Wpf/src/WpfGfx/common/effects/effectlist.cpp
  src/Microsoft.DotNet.Wpf/src/WpfGfx/common/scanop/soconvert.cpp
  src/Microsoft.DotNet.Wpf/src/WpfGfx/common/shared/WpfGfxSwitches.cpp
  src/Microsoft.DotNet.Wpf/src/WpfGfx/common/shared/WpfGfxSwitches.h
  src/Microsoft.DotNet.Wpf/src/WpfGfx/common/shared/dynarray.h
  src/Microsoft.DotNet.Wpf/src/WpfGfx/common/shared/shared.h
  src/Microsoft.DotNet.Wpf/src/WpfGfx/common/shared/shared.vcxproj
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/common/engine.cpp
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/common/gradienttexture.cpp
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/dll/wpfgfx.def
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/hw/d3dglyphbank.cpp
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/hw/hwbitmapcolorsource.cpp
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/resources/glyphrunslave.cpp
Due: production

License file for sRGB.icm file (#11639)
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/Media/Resources/ColorProfiles/LICENSE.TXT
Due: production

Resolving Comments
  src/Microsoft.DotNet.Wpf/src/PenImc/dll/PenImcSwitches.h
  src/Microsoft.DotNet.Wpf/src/WpfGfx/common/shared/WpfGfxSwitches.h
Due: production

Always clear line visuals in FormatIncrementalLine
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/MS/Internal/documents/TextBoxView.cs
Due: production

Fix TextServicesManager scan code forwarding for TSF
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/Input/TextServicesManager.cs
Due: production

Preserve extended key flag in lParam
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/Input/TextServicesManager.cs
Due: production

Fix potential overflow issues in WPF native code (#11642)
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/automap.cpp
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/intsafe_private_copy.h
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/makeglst.cpp
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/modcmap.cpp
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/modglyf.cpp
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/modsbit.cpp
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/modtable.cpp
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/ttf_safe_checks.h
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/ttfacc.cpp
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/ttfdelta.cpp
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/ttftabl1.cpp
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/ttftable.cpp
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/truetype.cpp
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/main.cpp
  src/Microsoft.DotNet.Wpf/src/PenImc/dll/PenImc.cpp
  src/Microsoft.DotNet.Wpf/src/PenImc/dll/PenImc.def
  src/Microsoft.DotNet.Wpf/src/PenImc/dll/PenImcSwitches.h
  src/Microsoft.DotNet.Wpf/src/PenImc/dll/PimcContext.cpp
  src/Microsoft.DotNet.Wpf/src/PenImc/dll/PimcTablet.cpp
  src/Microsoft.DotNet.Wpf/src/PresentationCore/MS/Win32/UnsafeNativeMethodsPenimc.cs
  src/Microsoft.DotNet.Wpf/src/PresentationCore/MS/internal/CoreAppContextSwitches.cs
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/Media/MediaSystem.cs
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/Media/UnsafeNativeMethodsMilCoreApi.cs
  src/Microsoft.DotNet.Wpf/src/WpfGfx/common/effects/effectlist.cpp
  src/Microsoft.DotNet.Wpf/src/WpfGfx/common/scanop/soconvert.cpp
  src/Microsoft.DotNet.Wpf/src/WpfGfx/common/shared/WpfGfxSwitches.cpp
  src/Microsoft.DotNet.Wpf/src/WpfGfx/common/shared/WpfGfxSwitches.h
  src/Microsoft.DotNet.Wpf/src/WpfGfx/common/shared/dynarray.h
  src/Microsoft.DotNet.Wpf/src/WpfGfx/common/shared/shared.h
  src/Microsoft.DotNet.Wpf/src/WpfGfx/common/shared/shared.vcxproj
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/common/engine.cpp
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/common/gradienttexture.cpp
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/dll/wpfgfx.def
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/hw/d3dglyphbank.cpp
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/hw/hwbitmapcolorsource.cpp
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/resources/glyphrunslave.cpp
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 217: Build ID 2977651
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfApplication-CSharp/.template.config/localize/templatestrings.cs.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfApplication-CSharp/.template.config/localize/templatestrings.de.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfApplication-CSharp/.template.config/localize/templatestrings.fr.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfApplication-CSharp/.template.config/localize/templatestrings.pt-BR.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfApplication-CSharp/.template.config/localize/templatestrings.zh-Hant.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfApplication-VisualBasic/.template.config/localize/templatestrings.cs.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfApplication-VisualBasic/.template.config/localize/templatestrings.de.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfApplication-VisualBasic/.template.config/localize/templatestrings.fr.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfApplication-VisualBasic/.template.config/localize/templatestrings.pt-BR.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfApplication-VisualBasic/.template.config/localize/templatestrings.zh-Hant.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfClassLibrary-CSharp/.template.config/localize/templatestrings.cs.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfClassLibrary-CSharp/.template.config/localize/templatestrings.de.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfClassLibrary-CSharp/.template.config/localize/templatestrings.fr.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfClassLibrary-CSharp/.template.config/localize/templatestrings.pt-BR.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfClassLibrary-CSharp/.template.config/localize/templatestrings.zh-Hant.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfClassLibrary-VisualBasic/.template.config/localize/templatestrings.cs.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfClassLibrary-VisualBasic/.template.config/localize/templatestrings.de.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfClassLibrary-VisualBasic/.template.config/localize/templatestrings.fr.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfClassLibrary-VisualBasic/.template.config/localize/templatestrings.pt-BR.json
Due: none

Localized file check-in by OneLocBuild Task: Build definition ID 217: Build ID 2977651
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfClassLibrary-VisualBasic/.template.config/localize/templatestrings.zh-Hant.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfCustomControlLibrary-CSharp/.template.config/localize/templatestrings.cs.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfCustomControlLibrary-CSharp/.template.config/localize/templatestrings.de.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfCustomControlLibrary-CSharp/.template.config/localize/templatestrings.fr.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfCustomControlLibrary-CSharp/.template.config/localize/templatestrings.pt-BR.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfCustomControlLibrary-CSharp/.template.config/localize/templatestrings.zh-Hant.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfCustomControlLibrary-VisualBasic/.template.config/localize/templatestrings.cs.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfCustomControlLibrary-VisualBasic/.template.config/localize/templatestrings.de.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfCustomControlLibrary-VisualBasic/.template.config/localize/templatestrings.fr.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfCustomControlLibrary-VisualBasic/.template.config/localize/templatestrings.pt-BR.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfCustomControlLibrary-VisualBasic/.template.config/localize/templatestrings.zh-Hant.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfUserControlLibrary-CSharp/.template.config/localize/templatestrings.cs.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfUserControlLibrary-CSharp/.template.config/localize/templatestrings.de.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfUserControlLibrary-CSharp/.template.config/localize/templatestrings.fr.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfUserControlLibrary-CSharp/.template.config/localize/templatestrings.pt-BR.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfUserControlLibrary-CSharp/.template.config/localize/templatestrings.zh-Hant.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfUserControlLibrary-VisualBasic/.template.config/localize/templatestrings.cs.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfUserControlLibrary-VisualBasic/.template.config/localize/templatestrings.de.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfUserControlLibrary-VisualBasic/.template.config/localize/templatestrings.fr.json
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfUserControlLibrary-VisualBasic/.template.config/localize/templatestrings.pt-BR.json
Due: none

Localized file check-in by OneLocBuild Task: Build definition ID 217: Build ID 2977651
  packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfUserControlLibrary-VisualBasic/.template.config/localize/templatestrings.zh-Hant.json
Due: none

Update src/Microsoft.DotNet.Wpf/src/WpfGfx/core/uce/partitionthread.cpp
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/uce/partitionthread.cpp
Due: production

Fix ToolBarTray negative measure constraint
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Controls/ToolBarTray.cs
Due: production

Use ReadOnlyCollection<Rect>.Empty over new ReadOnlyCollection<Rect>(new List<Rect>(0))
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Controls/TextBlock.cs
Due: production

Pre-allocate the List<Rect> in GetRangeBounds
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/MS/Internal/Text/Line.cs
Due: production

Use ReadOnlyCollection<TextSegment>.Empty and stop creating a List<TextSegment>(1)
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Controls/TextBlock.cs
Due: production

Easy pattern-matching
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Controls/TextBlock.cs
Due: production

Remove uncalled CalcContentOffset in AlignContent
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Controls/TextBlock.cs
Due: production

Remove uncalled dead code
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Controls/TextBlock.cs
Due: production

Remove empty Initialize function
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Controls/TextBlock.cs
Due: production

Use ReadOnlySpan<Rect>/Rect[] combo over (I)List<Rect>, simplify and speed up loop
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/MS/Internal/Text/Line.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Controls/TextBlock.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Documents/CaretElement.cs
Due: production

Mark CalcLineAdvance as static and swap params
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Controls/TextBlock.cs
Due: production

Remove double null assigment to ie in InputHitTestCore
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Controls/TextBlock.cs
Due: production

Swap ArrayList for List<InlineObject>
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Controls/TextBlock.cs
Due: production

Remove unused LineOffset calculation in ComplexLine.Arrange; use pattern-match
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/MS/Internal/Text/ComplexLine.cs
Due: production

Remove warning suppressions in HostedElements and seal the class
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/MS/Internal/documents/HostedElements.cs
Due: production

Remove a comment
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/MS/Internal/Text/Line.cs
Due: production

Post-merge style fix
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Controls/TextBlock.cs
Due: production

Merged PR 61300: [internal/release/8.0] Update dependencies from dnceng/internal/dotnet-winforms
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Fix walk-back logic crossing paragraph boundaries in IncrementalMeasureLinesAfterInsert
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/MS/Internal/documents/TextBoxView.cs
Due: production

Updating test dependencies to avoid failures during test runs
  eng/Versions.props
Due: none

Updating test dependencies to avoid failures during test runs (#11655)
  eng/Versions.props
Due: none

Disconnect stale automation peers from UIA to fix memory leak in virtualized ItemsControls
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/Automation/Peers/AutomationPeer.cs
Due: production

Fixing test failure due to xUnit dependency updates
  src/Microsoft.DotNet.Wpf/tests/UnitTests/WindowsBase.Tests/System/Windows/Interop/ComponentDispatcherTests.cs
Due: test

User/dipesh/fixing test dependencies v2 (#11658)
  src/Microsoft.DotNet.Wpf/tests/UnitTests/WindowsBase.Tests/System/Windows/Interop/ComponentDispatcherTests.cs
Due: test

Package ijwhost.dll as native asset for self-contained publish
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/DirectWriteForwarder.vcxproj
  src/Microsoft.DotNet.Wpf/src/System.Printing/System.Printing.vcxproj
Due: production
