Repository dotnet/wpf: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  range: 20..80                   # 20 is red, 80 is green
  round: down                     # always round down
  precision: 5                    # highest level of decimal precision
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "eng/::/"

comment:
  layout: "diff, flags"           # coverage difference, flags below

flags:                            # which files to include in the reporting
  production:
    paths:
      - src/Microsoft.DotNet.Wpf/src
  test:
    paths:
      - src/Microsoft.DotNet.Wpf/tests/

Merged PR 62725: [release/8.0] Add bounds checking for CMap and Sbit overflow protection in TrueType subsetter
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/modcmap.cpp
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/modglyf.cpp
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/modsbit.cpp
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/modtable.cpp
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/ttf_safe_checks.h
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/ttfdelta.cpp
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/ttftable.cpp
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/truetype.cpp
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/main.cpp
  src/Microsoft.DotNet.Wpf/src/PresentationCore/MS/internal/CoreAppContextSwitches.cs
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/AppContextDefaultValues.cs
Due: production

Merged PR 62726: [release/9.0] Add bounds checking for CMap and Sbit overflow protection in TrueType subsetter
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/modcmap.cpp
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/modglyf.cpp
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/modsbit.cpp
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/modtable.cpp
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/ttf_safe_checks.h
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/ttfdelta.cpp
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/TtfDelta/ttftable.cpp
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/CPP/TrueTypeSubsetter/truetype.cpp
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/main.cpp
  src/Microsoft.DotNet.Wpf/src/PresentationCore/MS/internal/CoreAppContextSwitches.cs
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/AppContextDefaultValues.cs
Due: production

Exclude _wpftmp temp project from design-time markup compilation
  src/Microsoft.DotNet.Wpf/src/PresentationBuildTasks/Microsoft.WinFX.targets
Due: production

Solution for #11774: DragLeave constructs DragEventArgs with coordinates relative
  path/to/DragDrop.cs
  path/to/DragEventArgs.cs
  path/to/MainWindow.xaml
  path/to/MainWindow.xaml.cs
Due: none

Merging internal commits for release/8.0 (#11787)
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/MS/Internal/Ink/ClipboardProcessor.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Documents/TextTreeDeleteContentUndoUnit.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Markup/XamlReader.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Navigation/NavigationService.cs
  src/Microsoft.DotNet.Wpf/src/System.Printing/CPP/inc/GDIExporter/precomp.hpp
  src/Microsoft.DotNet.Wpf/src/System.Printing/CPP/inc/PrintingSwitches.h
  src/Microsoft.DotNet.Wpf/src/System.Printing/CPP/src/GDIExporter/gdirt.cpp
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/common/guidelinecollection.cpp
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/fxjit/PixelShader/precomp.h
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/fxjit/PixelShader/pstrans.cpp
Due: production

Merging internal commits for release/9.0 (#11786)
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/MS/Internal/Ink/ClipboardProcessor.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Documents/TextTreeDeleteContentUndoUnit.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Markup/XamlReader.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Navigation/NavigationService.cs
  src/Microsoft.DotNet.Wpf/src/System.Printing/CPP/inc/GDIExporter/precomp.hpp
  src/Microsoft.DotNet.Wpf/src/System.Printing/CPP/inc/PrintingSwitches.h
  src/Microsoft.DotNet.Wpf/src/System.Printing/CPP/src/GDIExporter/gdirt.cpp
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/common/guidelinecollection.cpp
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/fxjit/PixelShader/precomp.h
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/fxjit/PixelShader/pstrans.cpp
Due: production

Added a missing codeql comment
  src/Microsoft.DotNet.Wpf/src/PresentationBuildTasks/Microsoft/Build/Tasks/Windows/UidManager.cs
Due: production

Merged PR 61888: [release/9.0] WPF MSRC PixelShader Bound Checks
  src/Microsoft.DotNet.Wpf/src/System.Printing/CPP/inc/GDIExporter/precomp.hpp
  src/Microsoft.DotNet.Wpf/src/System.Printing/CPP/inc/PrintingSwitches.h
  src/Microsoft.DotNet.Wpf/src/System.Printing/CPP/src/GDIExporter/gdirt.cpp
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/common/guidelinecollection.cpp
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/fxjit/PixelShader/precomp.h
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/fxjit/PixelShader/pstrans.cpp
Due: production

Merged PR 61884: [release/9.0] WPF MSRC XAML Restrictive Checks
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/MS/Internal/Ink/ClipboardProcessor.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Documents/TextTreeDeleteContentUndoUnit.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Markup/XamlReader.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Navigation/NavigationService.cs
Due: production

Shorten the comment for better readability
  src/Microsoft.DotNet.Wpf/src/PresentationBuildTasks/Microsoft/Build/Tasks/Windows/ResourcesGenerator.cs
  src/Microsoft.DotNet.Wpf/src/PresentationBuildTasks/Microsoft/Build/Tasks/Windows/UidManager.cs
Due: production

Removing faulty tests
  src/Microsoft.DotNet.Wpf/tests/UnitTests/PresentationCore.Tests/MS/Internal/AppModel/DefaultCredentialsZonePolicyTests.cs
Due: test

Fix potential issues in WPF Native Code (#11797)
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/MS/Internal/Ink/ClipboardProcessor.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Documents/TextTreeDeleteContentUndoUnit.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Markup/XamlReader.cs
  src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Navigation/NavigationService.cs
  src/Microsoft.DotNet.Wpf/src/System.Printing/CPP/inc/GDIExporter/precomp.hpp
  src/Microsoft.DotNet.Wpf/src/System.Printing/CPP/inc/PrintingSwitches.h
  src/Microsoft.DotNet.Wpf/src/System.Printing/CPP/src/GDIExporter/gdirt.cpp
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/common/guidelinecollection.cpp
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/fxjit/PixelShader/precomp.h
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/fxjit/PixelShader/pstrans.cpp
Due: production

[internal/release/9.0] Update dependencies from dnceng/internal/dotnet-winforms
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Merged PR 63150: [internal/release/8.0] Update dependencies from dnceng/internal/dotnet-winforms
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Due: none

fix issue #11774
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/DragDrop.cs
Due: production

Remove C4995 suppression
  eng/WpfArcadeSdk/tools/Wpf.Cpp.props
Due: none

Add CodeQL comments to clarify trusted input handling in ResourcesGen… (#11763)
  src/Microsoft.DotNet.Wpf/src/PresentationBuildTasks/Microsoft/Build/Tasks/Windows/ResourcesGenerator.cs
  src/Microsoft.DotNet.Wpf/src/PresentationBuildTasks/Microsoft/Build/Tasks/Windows/UidManager.cs
Due: production

Fix Nullable<T> detection inside MetadataLoadContext to emit proper BamlRecordType
  src/Microsoft.DotNet.Wpf/src/Shared/System/Windows/Markup/ReflectionHelper.cs
Due: production

Fix NET472 as well during compilation
  src/Microsoft.DotNet.Wpf/src/Shared/System/Windows/Markup/ReflectionHelper.cs
Due: production

Whoever invented AppDomains... well, you know...
  src/Microsoft.DotNet.Wpf/src/Shared/System/Windows/Markup/ReflectionHelper.cs
Due: production

Fixing improper file format APIScan issue for DirectWriteForwarder
  src/Microsoft.DotNet.Wpf/src/DirectWriteForwarder/DirectWriteForwarder.vcxproj
Due: production

Update branding on release/8.0
  eng/Versions.props
Due: none

Update branding on release/9.0
  eng/Versions.props
Due: none

[release/9.0] Update branding to 9.0.20 (#11819)
  eng/Versions.props
Due: none

[release/8.0] Update branding to 8.0.31 (#11818)
  eng/Versions.props
Due: none

Merged PR 63092: [release/8.0] Removing DefaultCredentialPolicyTests file
  src/Microsoft.DotNet.Wpf/tests/UnitTests/PresentationCore.Tests/MS/Internal/AppModel/DefaultCredentialsZonePolicyTests.cs
Due: test

Merged PR 62728: [release/8.0] Add NOP token validation to prevent instruction count mismatch
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/fxjit/PixelShader/pstrans.cpp
Due: production

Fix integer overflow in CGlyphRunGeometrySink causing heap OOB write
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/resources/GlyphRunGeometrySink.cpp
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/resources/GlyphRunGeometrySink.h
Due: production

Add pre-increment overflow bounds checks in BeginFigure/AddGenericPoly
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/resources/GlyphRunGeometrySink.cpp
Due: production

Gate geometry size bounds checks behind WpfGfxSwitches::IsWpfGfxBoundsCheckProtectionDisabled()
  src/Microsoft.DotNet.Wpf/src/WpfGfx/core/resources/GlyphRunGeometrySink.cpp
Due: production

Restoring autoConvert to .NET 8.0 in Clipboard APIs
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/clipboard.cs
Due: production

Added unit test
  src/Microsoft.DotNet.Wpf/tests/UnitTests/PresentationCore.Tests/System/Windows/ClipboardTests.cs
Due: test

Also setting autoConvert to false in one of the TryGetData overload.
  src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/clipboard.cs
Due: production
